{# src/utb/SiteBundle/Resources/views/layoutSite.html.twig #}
{% extends "utbSiteBundle::layoutSite.html.twig" %}
{% block title %}
  {{ parent() }} - e-BOX
{% endblock %}  
{% block public_body %}
  {% set idrubrique = app.request.get('idparentrub') %}
  {% if listecateg|length <= 5 %}
        <div class="span-24 all-lookupCategorie marginBottom10p">
                <div class="leftSpace blocArPart">
                                {% for sousrubrique in listecateg %}
                                        {% if (larubrique[0].idParent == larubrique[0].idGrandParent) and (larubrique[0].idGrandParent!=0 )%}
                                            {{allmacro.AfficherSousRubHaut(sousrubrique.id,sousrubrique.nomRubrique,sousrubrique.urlMedia,sousrubrique.typePresentation,larubrique[0].id)}}
                                        {% else %}
                                            {{allmacro.AfficherSousRubHaut(sousrubrique.id,sousrubrique.nomRubrique,sousrubrique.urlMedia,sousrubrique.typePresentation,larubrique[0].idParent)}}                        
                                        {% endif %}
                                 {% endfor %}                        
                </div>
        </div> 
  {% endif %}
 		
    {#% for unarticle in listearticlefirst  %}                         
            <div class="span-24 borderBotStyle bgBlanc paddingBottom20p marginBottom10p">
                  <div class="leftSpace rightSpace">                                       
                       <!-- <h1 class="boxSection-titre listItem3 bleuLogo">Cartes VISA Gold</h1> -->
                       <h1 class="boxSection-titre title-WithLeftBar bleuLogo">
                                                               {#<a class="" href="{{path('utb_site_article',{'id': unarticle.id,'locale':locale})}}">
                                                               {{unarticle.titreArticle}}
                                                               </a></h1>#}
                      {# <div class="typesCartesBq inlineList listItem1 textContent">                                                   
                                <img src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:25px; float:left;"/> #}									   
                                                                            {#% if unarticle.introTexteArticle|trim|length > 0 %}
                                                                               {{unarticle.introTexteArticle|raw}}
                                                                            {% else % {% endif %}  
                                                                               {{unarticle.descriptionArticle|raw}}
                       </div>	<!-- FIN typesCartesBq listItem1-->
                 </div>
           </div> 
    {% endfor %#} 

  {% if listecategorie|length > 0  %} 
       {% for categorie in listecategorie %} 
            {%  if loop.index != 2 %}
                    {% if articlecategorie[categorie.id]|length > 0 %}
                     <div class="span-24 borderBotStyle bgBlanc marginBottom10p">                    
                           <div class="leftSpace rightSpace"> 
                                   <h1 class="boxSection-titre title-WithLeftBar bleuLogo">{{categorie.nomRubrique}}</a></h1>  
                           </div>
                     {% for article in articlecategorie[categorie.id]  %}                                                          
                                {#%  if loop.index == 1 %} 
                                       <div class="span-24">					
                                             <div class="leftSpace rightSpace">                                       
                                                  <!-- <h1 class="boxSection-titre listItem3 bleuLogo">Cartes VISA Gold</h1> -->
                                                  <h2 class="title2"><a class="" href="{{path('utb_site_article',{'id': article.id,'locale':locale})}}">{{article.titreArticle}}</a></h2>
                                                  <div class="typesCartesBq inlineList listItem1 textContent">                                                   
                                                       {# <img src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:25px; float:left;"/> 										   
                                                       {% if article.introTexteArticle|trim|length > 0 %}
                                                          {{article.introTexteArticle|raw}}
                                                       {% else %}  
                                                          {{article.descriptionArticle|raw}}
                                                       {% endif %}                                                     
                                                  </div>	<!-- FIN typesCartesBq listItem1-->
                                          </div>
                                      </div> 
                               {% else%#}    

                                          <div class="span-12 {% if loop.index0 % 2 %} last {% endif %}  ">  
                                            <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
                                                       <h2 class="listItem3 title1"><a class="" href="{{path('utb_site_article',{'id': article.id,'locale':locale})}}">{{article.titreArticle}}</a></h2>
                                                       <div class="typesCartesBq listItem1">
                                                           
                                                                  <img src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="Image Illustrative" title="Image Illustrative" style="float:left; width: 150px;"/> 
                                                            
                                                                   {% if article.introTexteArticle|trim|length > 0 %}
                                                                        {{article.introTexteArticle|raw}}
                                                                   {% else %}     
                                                                        {{article.descriptionArticle|raw}}
                                                                   {% endif %}    
                                                           
                                                               <div class="clr"></div>
                                                       </div>	<!-- FIN typesCartesBq listItem1-->
                                               </div>                             
                                        </div> 

                           {% endfor %}

                         </div> 
                        {% endif %}
                 {%  else %}
  
			<div class="span-24 borderBotStyle bgBlanc marginBottom10p ">
					<div class="leftSpace rightSpace paddingBottom20p">
						<h1 class="boxSection-titre bleuLogo title-WithLeftBar">{{categorie.nomRubrique}}</h1>						
						<div class="typesCartesBq listItem1">
                                                       {% for article in articlecategorie[categorie.id]  %} 
                                                            <h2 class="listItem3 title1"><a href="{{path('utb_site_article',{'id': article.id,'locale':locale})}}">{{article.titreArticle|raw}}</a></h2>
                                                            <div class="boxilustrC">
                                                                    <img style="float:left; width: 100px; margin-bottom: 20px;" src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="" title=""  />
                                                            </div>
 
                                                            <div class="boxdescrptC1">
                                                                    {% if article.introTexteArticle|trim|length > 0 %}
                                                                         {{article.introTexteArticle|raw}}
                                                                    {% else %}     
                                                                         {{article.descriptionArticle|raw}}
                                                                    {% endif %}
                                                            </div>
                                                            <div class="clr"></div>	
                                                        {% endfor %}
						</div>
					</div>
			</div>     
                 {% endif %}     
	{% else %}
	{% endfor %}   
{% else %}	
  
       {% for categorie in listesousrub %} 

             {% if articlecategorie[categorie.id]|length > 0 %}
              <div class="span-24 borderBotStyle bgBlanc marginBottom10p">                    
                    <div class="leftSpace rightSpace"> 
                            <h1 class="boxSection-titre title-WithLeftBar bleuLogo">{{categorie.nomRubrique}}</a></h1>  
                    </div>
              {% for article in articlecategorie[categorie.id]  %}                                                          
                                                                                                                      
                              <div class="span-12 {% if loop.index0 % 2 %} last {% endif %}  ">  
                                <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
                                           <h2 class="listItem3 title1"><a class="" href="{{path('utb_site_article',{'id': article.id,'locale':locale})}}">{{article.titreArticle}}</a></h2>
                                           <div class="typesCartesBq listItem1">
                                                   <div class="boxilustrC">
                                                      <img src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="Image Illustrative" title="Image Illustrative" style="float:left; width: 150px;"/> 
                                                   </div>
                                                   <div class="boxdescrptC">
                                                       {% if article.introTexteArticle|trim|length > 0 %}
                                                            {{article.introTexteArticle|raw}}
                                                       {% else %}     
                                                            {{article.descriptionArticle|raw}}
                                                       {% endif %}    
                                                   </div>
                                                   <div class="clr"></div>
                                           </div>	<!-- FIN typesCartesBq listItem1-->
                                   </div>                             
                            </div> 
                      
                    {% endfor %}
                                  
                  </div> 
                 {% endif %}
                 {%  if loop.index == 3 %}
  
			<div class="span-24 borderBotStyle bgBlanc marginBottom10p ">
					<div class="leftSpace rightSpace paddingBottom20p">
						<h1 class="boxSection-titre bleuLogo title-WithLeftBar">UTB e-BOX - L’ACCES PAR TELEPHONE </h1>						
						<div class="typesCartesBq listItem1">
                                                       {% for article in articlecategorie[categorie.id]  %} 
                                                            <h2 class="listItem3 title1"><a href="{{path('utb_site_article',{'id': article.id,'locale':locale})}}">Le SMS RECEPTION</a></h2>
                                                            <div class="boxilustrC">
                                                                    <img style="float:left; width: 150px;" src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="" title=""/>
                                                            </div>
 
                                                            <div class="boxdescrptC1">
                                                                    {% if article.introTexteArticle|trim|length > 0 %}
                                                                         {{article.introTexteArticle|raw}}
                                                                    {% else %}     
                                                                         {{article.descriptionArticle|raw}}
                                                                    {% endif %}
                                                            </div>
                                                            <div class="clr"></div>	
                                                        {% endfor %}
						</div>
					</div>
			</div>     
                 {% endif %}   
  
	{% else %}

	{% endfor %} 
  
{% endif %}
{% endblock %}
  

