{% set listeLiens = listeLiens is defined ? listeLiens : [] %}
		<div class="span-24 footer">     
			<div class="span-7 footerbox1">
				<div class="leftSpace">
					<span>{{ 'acceuil.direct'|trans({}, 'site') }}</span> <span class="linedesign linebox1"> </span><div class="clr"></div>
					<ul>
						<li class="info-phone">00 228 22 23 43 00 / 44 00</li>
						<!--li class="info-mail">info@utb.tg</li -->
						<li class="info-adress">{{ 'acceuil.siege'|trans({}, 'site') }} : UTB Circulaire <br/>Bd. du 13 janvier - Nyekonakpoè <br/>BP 359 LOME</li>
                                                {# <li class="info-mail"><a href="{{ path('app_site_contact',{'locale': locale}) }}">{{ 'acceuil.nous'|trans({}, 'site') }}</a></li> #}
					</ul>
				</div>
			</div>				
			{% for keyP,mP in listeLiens %}			
			{% set tab = keyP|split('|') %}			
			<div class="span-5">
			
				<span> {{tab.0}} </span> <span class="linedesign"> </span><div class="clr"></div>
				<ul class="listPuce1">       
					{% for mF in mP %}
                                               
						{% set sstab = mF.url|split('|') %}
							<li> 
                                                               {#{ dump(tab) }#}
								{% if mF.imageMenu == "menus_lien.png" %}
									<a href="{{ "http//"~mF.url}}" title="{{mF.libelle}}">
								{% elseif mF.url == "utb_site_homepage" or mF.url == "utb_admin_resultatFAQ"%}
									<a href="{{ path(mF.url,{'locale': locale})}}" title="{{mF.libelle}}">
								{% elseif mF.url == "app_site_contact" %}
									{# <a href="{{ path(mF.url,{'locale': locale})}}" title="{{mF.libelle}}"> #}
								{% elseif mF.url == "utb_site_reclamations" %}
									<a href="{{ path(mF.url,{'locale': locale})}}" title="{{mF.libelle}}">
								{% elseif mF.url == "utb_site_alertes" %}
									<a href="{{ path(mF.url,{'locale': locale})}}" title="{{mF.libelle}}">
								{% elseif mF.url == "utb_site_article" %}
									  <a href="{{ path(sstab.0,{'locale': locale,'id':sstab.1})}}" title="{{mF.libelle}}">      
								{% else %}
								  <a href="{{ path(sstab.0,{'locale': locale,'id':sstab.2, 'type':sstab.1,'typecate': 0, 'date':0})}}" title="{{mF.libelle}}">  
																								
								{% endif %}                  
								{{mF.libelle}}
									</a>
							</li>
					{% endfor %} 
				</ul> 
			</div>                                                                                              <!-- FIN div.oneEntreMenu Menu Parent + Ses Sous-Menu -->
		{% endfor %}
		</div> 
