{# src/utb/SiteBundle/Resources/views/layoutSite.html.twig #}
{% extends "utbSiteBundle::layoutSite.html.twig" %}

{% block title %}
  {{ parent() }} - {{larubrique[0].nomRubrique}}
{% endblock %}

  {% block public_body %}
  <script>
      function changecolor(){
          var lien1 = document.getElementById("lien1"), lien2 = document.getElementById("lien2"), form = document.getElementById("triangle");
          lien2.style.background ="#5B89D3";
          lien2.style.color = "#fff";
          lien1.style.background ="#F0EEEE";
          lien1.style.color = "#555";
          form.src="{{asset('img/site-img/pucetriangle2.png')}}";
      }
      function changecolor2(){
          var lien1 = document.getElementById("lien1"), lien2 = document.getElementById("lien2"), form = document.getElementById("triangle");
          lien2.style.background ="#F0EEEE";
          lien2.style.color = "#555";
          lien1.style.background ="#5B89D3";
          lien1.style.color = "#fff";
          form.src="{{asset('img/site-img/pucetriangle1.png')}}";
      }

   </script>
   <script type="text/javascript" src="{{ asset('js/site-js/tab.js') }}"></script>
   <script>
       $(document).ready(function($) {

    $('#blocPrincipal').tabulous({
    	effect: 'scale'
    });
});
   </script>
    {% set idrubrique = app.request.get('idparentrub') %}
    {% if listecateg|length <= 5 %}
          <div class="span-24 all-lookupCategorie marginBottom10p">
                  <div class="leftSpace blocArPart">
                                  {% for sousrubrique in listecateg %}
                                          {% if (larubrique[0].idParent == larubrique[0].idGrandParent) and (larubrique[0].idGrandParent!=0 )%}
                                              {{allmacro.AfficherSousRubHaut(sousrubrique.id,sousrubrique.nomRubrique,sousrubrique.urlMedia,sousrubrique.typePresentation,larubrique[0].id,locale)}}
                                          {% else %}
                                              {{allmacro.AfficherSousRubHaut(sousrubrique.id,sousrubrique.nomRubrique,sousrubrique.urlMedia,sousrubrique.typePresentation,larubrique[0].idParent,locale)}}                        
                                          {% endif %}
                                   {% endfor %}                        
                  </div>
          </div> 
    {% endif %} 
      

                <div class="span-24 marginBottom20p paddingBottom20p bgBlanc positionRelative borderBotStyle">
                    <img src="{{asset('img/site-img/ombreVertical1Gauche.png')}}" alt="" class=" ombreVertical1Gauche"/>
                    <div class="leftSpace rightSpace blocPrincipal" id="blocPrincipal"  >

                        <ul>
                                {% set i=0 %}
                                {% if listecategorie|length > 0  %}
                                
                                     {% for categorie in listecategorie %} 
                                        {% set i=i+1%}
                                        <a id="{{'lien'~i}}" href="{{'#bloc'~i}}" {% if i==1 %} class=" capitaLetter center uno titre" onclick="javascript:changecolor2();"{% else %}class="capitaLetter center duo titre" onclick="javascript:changecolor();"{% endif  %} >{% if i==1 %}{% else %}<img id="triangle" style="" src="{{asset('img/site-img/pucetriangle1.png')}}" />{% endif  %}{{categorie.nomRubrique}}</a>                                       
                                     {% else %}
                                     {% endfor %} 
                                {% endif %}                                
                                
                        </ul>
                        
                                <div id="tabs_container">

                                        {% set i=0 %}
                                  {% if listecategorie|length > 0  %} 
                                       {% for categorie in listecategorie %} 
                                        {% set i=i+1 %}
                                             {% if articlecategorie[categorie.id]|length > 0 %}

                                                                    <div id="{{'bloc'~i}}" class="blocus">
                                                                    {% for article in articlecategorie[categorie.id]  %} 

                                                                           {%  if loop.index == 1 %} 
                                                                                <div class="bordBleu">                            
                                                                                {% if article.introTexteArticle|trim|length > 0 %}
                                                                                   {{article.introTexteArticle|raw}}
                                                                                {% else %}  
                                                                                   {{article.descriptionArticle|raw}}
                                                                                {% endif %} 
                                                                                </div><!-- Fin bordBleu -->
                                                                            <div class="marginBottom20p"></div>

                                                                            <div class="groupeProduit">                                                
                                                                           {% else%} 


                                                                                <div class="produit">                                                   
                                                                                      {% if article.urlMedia == ""%}
                                                                                       
                                                                                      {%  elseif article.urlMedia == "default_.png" %}
                                                                                    
                                                                                      {%else%}
                                                                                            <div class="image">  <img src="{{ asset('upload/articles/'~article.urlMedia)}}" /></div> 
                                                                                      {% endif %}
                                                                                    <div class="contenuProduit">
                                                                                        <h2>{{article.titreArticle}}</h2>                                                            
                                                                                        <div class="resume">
                                                                                         {% if article.introTexteArticle|trim|length > 0 %}
                                                                                              {{article.introTexteArticle|raw}}
                                                                                         {% else %}     
                                                                                              {{article.descriptionArticle|raw}}
                                                                                         {% endif %}
                                                                                        </div>
                                                                                        <div class=" rightPosition">
                                                                                            <a class="btmoore coinsArrondis " href="{{path('utb_site_article',{'id': article.id,'locale':locale,'type':article.typePre})}}"><span>{{ 'particulier.savoir'|trans({}, 'site') }}</span><span></span></a>
                                                                                        </div>                                                        
                                                                                    </div>                                                            
                                                                                    <div class="clr"></div>
                                                                                </div> 
                                                                            {% endif %}
                                                                            {%  if loop.last%}
                                                                                <div class="clr"></div>
                                                                              </div><!-- Fin groupe produits -->
                                                                            {%  endif %}

                                                                    {% endfor %} 
                                                                    </div> 

                                             {% endif %}
                                        {% else %}
                                        {% endfor %} 
                                 {% endif %}   

                                </div><!-- Fin tabscontainer -->
                    </div>
                    <img src="{{asset('img/site-img/ombreVertical1Droit.png')}}" alt="" class=" ombreVertical1Droit"/>
                </div> 


    <div class="span-24 marginBottom20p"> 
        <div class="leftSpace rightSpace boxCorespdant">
            <h1 class="boxSection-titre bleuLogo capitaLetter titreCorpsEntreprise" style="width: auto;">{{ 'acceuil.cores'|trans({}, 'site') }}</h1><div class="clr"></div>
            <div class="slideCorespdant">
                                   {% for article in listecorrespondanceEtranger%} 
                                        {% if article.urlMedia == ""%}

                                        {%  elseif article.urlMedia == "default_.png" %}

                                        {%else%}
                                                <img src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="" title="{{article.titreArticle|raw}}" />
                                        {% endif %}                                

                                   {% endfor %}     				
            </div>
            <div class="divButmoore rightPosition">
                <a class="btmoore coinsArrondis " href="{{ path("utb_site_rubrique",{'locale': locale,'id': 9, 'type':8,'typecate': 0, 'date':0})}}"><span>{{ 'acceuil.voir'|trans({}, 'site') }}</span><span></span></a>
            </div>			
        </div>
    </div>	<!-- FIN Correspondants-->
  {% endblock %}

