
{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - {{ 'services.liste.grandtitrepg'|trans({}, 'services') }}
{% endblock %}

  {% block administration_body %} 

<!-- FIN MENU RAPIDE BAR HORIZONTALE GRISE -->

<div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->
    <a href="{{path('utb_admin_accueil')}}"> {{ 'admin.accueil'|trans}}</a> > <a href="{{path('utb_admin_listeservice', {'locale': locale})}}">{{ 'admin.layout.contact'|trans}} </a> > <a href="{{path('utb_admin_listeservice', {'locale': locale})}}">{{'services.ajout.titre1'|trans({}, 'services')}}</a>  > {{'admin.list'|trans()}}
</div>

<div class="span-25">			<!-- Contien les menus -->
    <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
        <div class="span-15">
            <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-45-user.png')}}" alt="{{ 'services.ajout.titre1'|trans}}" title="" /></div>
            <div class="titreModule titreModuleShort colorBleu"><h1>{{ 'services.liste.titrepg'|trans({}, 'services') }}<h1></div>	
                        <div class="clr"></div>
                        </div>



                        <div class="span-9 last">

                            <div class="ecartBoutonsFirst">&nbsp;</div>

                            <div class="boutonGestion">
                                <div><a href="{{path('utb_admin_ajoutservice')}}"><img src="{{ asset('img/admin-img/ajouter.png')}}" alt="{{ 'admin.ajouter'|trans}}" title="{{ 'admin.ajouter'|trans}}" /></div>
                            {{ 'admin.ajouter'|trans}}</a>
                            </div>
                            {#<div class="boutonGestion">
                                <div><a href=""><img src="{{ asset('img/admin-img/modifier.png')}}" alt="Modifier" title="{{ 'admin.modifier'|trans}}" /></div>
                            {{ 'admin.modifier'|trans}}</a>
                            </div>#}

                            <div class="ecartBoutons">&nbsp;</div>
{#
                            <div class="boutonGestion">
                                <div><a href=""><img src="{{ asset('img/admin-img/publier.png')}}" alt="Publier" title="{{ 'admin.activer'|trans}}" /></div>
                            {{ 'admin.activer'|trans}}</a>
                            </div>
                            <div class="boutonGestion btGestMoy">
                                <div><a href=""><img src="{{ asset('img/admin-img/depublier.png')}}" alt="Dé-Publier" title="{{ 'admin.desactiver'|trans}}" /></div>
                            {{ 'admin.desactiver'|trans}}</a>
                            </div>


                            <div class="ecartBoutons">&nbsp;</div>#}
                            
                             <div class="boutonGestion">
                                    <div><a href="javascript:void(0);" onclick="gererEtatAll( getServicesID(),1); return false;"><img src="{{ asset('img/admin-img/publier.png')}}" alt="{{ 'admin.publier'|trans}}" title="{{ 'admin.enligne'|trans}}" /></div>
                                    {{'admin.activer'|trans}}</a>
                            </div>
                            <div class="boutonGestion btGestMoy">
                                    <div><a href="javascript:void(0);" onclick="gererEtatAll( getServicesID(),0); return false;"><img src="{{ asset('img/admin-img/depublier.png')}}" alt="{{ 'admin.depublier'|trans}}" title="{{ 'admin.horsligne'|trans}}" /></div>
                                    {{'admin.desactiver'|trans}}</a>
                            </div>
                            <div class="ecartBoutons">&nbsp;</div>                            
                            

                            <div class="boutonGestion">
                                <div><a href="javascript:void(0);" onclick="corbeilleAll( getCadresID()); return false;"><img src="{{ asset('img/admin-img/icon-48-deny.png')}}" alt="{{ 'admin.supprimgul'|trans}}" title=" {{ 'admin.corbeille'|trans}}" /></div>
                             {{ 'admin.supprimer'|trans}}</a>
                            </div>
                            <div class="clr"></div>
                        </div>					<!--  FIN allBoutonsGestion -->
                        <div class="clr"></div>
                        </div>						<!--  FIN toulbar 3 -->
                        </div>				<!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->



                        <div class="span-25">						<!-- COLONNE GAUCHE + COLONNE DROITE-->
                            <div class="MarginBottomBox"></div>

                            <div class="span-6">						<!-- COLONNE GAUCHE-->
                                <div class="colLeft">					<!-- COLONNE GAUCHE-->

                                         {# STATISTIQUES #}    
                                         {{ information.stats(listestat) }}                                     
                                    
                                </div>			<!-- Fin COLONNE COLLEFT-->
                            </div>				<!-- Fin COLONNE GAUCHE span 6-->

                            <div class="span-19 last">						<!-- COLONNE DROITE-->
                                <div class="colRight">						<!-- COLONNE DROITE-->


                                    <div class="colorCadreArrondi coinsArrondis bgGris">
                                        <div class="colRightContentPadding">	<!-- CREE LES MARGES GAUCH ET DROITE DAN LA COLONNE CENTRALE-->
						{#	<div class="filtersArticles">
								<input type="text"> <input type="submit" value="OK">
								<select class="filterStatus">
									<option>{{ 'services.liste.statut'|trans({}, 'services') }} </option>
									<option>{{ 'services.liste.actif'|trans({}, 'services') }}</option>
									<option>{{ 'services.liste.inactif'|trans({}, 'services') }}</option>
								
								</select>
								<select class="filterRubrique">
									<option>{{ 'services.liste.statut'|trans({}, 'services') }}</option>
									<option>Administrateur</option>{#options services issus dune bd 
									<option>Redacteur</option>
									<option>Gestionnaire</option>
								</select>

								<div class="clr"></div>
							</div>		#}				<!-- FIN filtersArticles-->

                                                <table class="listMenusCateg listArticlesRub">
                                                    <tr>
                                                        <th><input type="checkbox" class="checkall" name="checkall" /></th>
                                                        <th>{{'services.form.nom'|trans({}, 'services')}}</th>
                                                        <th colspan="2"></th>
                                                    </tr>	
                                                               {% for service in listeservice %}                                                            

                                                           
                                                    <tr {% if loop.index is divisibleby(2)%}  class="bgGris" {% else %} class="bgblanc"  {% endif %}>
                                                        <td><input type="checkbox" name="service[]"  rel="service_c" value="{{service.id}}"/></td>
                                                        <td class="libService">              
                                                                     {{service.libService }}
                                                            </td>                                                  
                                                            {#<td>              
                                                                <a href="{{ path('utb_admin_supprservice', {'id': service.id,'locale': locale}) }}" onclick="return confirm('Confirmez vous la suppression ?');">{{ 'admin.supprimer'|trans}}</a> 
                                                            </td>             

                                                                
                                                                        <td> % if service.etatCadre == 0 %}
                                                                    <a href="{{ path('utb_admin_gererCadre', {'id': service.id,'etat': 1,'locale': locale}) }}">{{ 'admin.activer'|trans}}</a> 
                                                                        {% else %}
                                                                    <a href="{{ path('utb_admin_gererCadre', {'id': service.id,'etat': 0,'locale': locale}) }}">{{ 'admin.desactiver'|trans}}</a> 
                                                                        {% endif %</td>#}   
                                                                 

                                                         <td class="statutArtList">
                                                            {% if service.EtatService ==1  %}
                                                                <img src="{{ asset('img/admin-img/publierSmall.png')}}"  alt="{{ 'admin.active'|trans}}" title="{{ 'admin.active'|trans}}" />
                                                            {% elseif service.EtatService  ==0 %}
                                                                <img src="{{ asset('img/admin-img/depublierSmall.png')}}"  alt="{{ 'admin.desactive'|trans}}" title="{{ 'admin.desactive'|trans}}" />
                                  
                                                            {% endif %}
                                                        </td>
                                                                
                                                                <td>              
                                                                    <a href="{{ path('utb_admin_modifservice', {'id': service.id,'locale': locale}) }}">

                                                                      <img src="{{ asset('img/admin-img/btmodifier.png')}}" alt="{{ 'admin.modifier'|trans}}" title="{{ 'admin.modifier'|trans}}" />
                                                                    </a> 
                                                                </td> 
                                                                
                                                                
                                                            </tr>

    {% else %}
                                                                    <tr>
                                                                        <td colspan="4">{{ 'services.none'|trans({}, 'services') }} </td>       
                                                                    </tr>       
    {% endfor %}
                                                                </table>



                                                            </div>		<!-- FIN colRightContentPadding  CREE LES MARGES GAUCH ET DROITE DAN LA COLONNE CENTRALE-->
                                                        </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->

                                                    </div>		<!--  FIN COL RIGHT -->
                                                </div>			<!--  FIN  SPAN - 19 -->

                                            </div>				<!--  FIN SPAN - 25 -->
                                            
 <script language="javascript" >
     
        $(".checkall").click(function(){
            $(this).closest("table").find("input[type=checkbox]").prop("checked", this.checked);
       });     
       
       function getServicesID(){
           
            var service_id = "";
            
            $(":input[rel=service_c]:checked").each(function(){
		service_id = service_id.concat( "|" + $(this).val() );
                //actions_id = "1|2|3";
            });   
            
            return service_id;
       }
       
       var html = "<div style='text-align:center;'><img src='{{ asset('img/wait.gif') }}' /></div>"; 
       var htmldefault3 = "{{ 'services.supprimer.confirmation'|trans}}"; 
       var htmldefault2 = "{{ 'services.statut.confirmation'|trans}}"; 
 
    
       function corbeilleAll( serviceId ){
          if( serviceId.length == 0 ){              
              $('#process_tpl').html("{{ 'admin.natdoc.cocher'|trans}}");
          var args = {modal: true, autoOpen: false, title: ('{{ 'services.statut.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: { 			                  
			"OK": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
              return false;
          }           
          
          $('#process_tpl').html(htmldefault3);
          var args = {modal: true, autoOpen: false, title: ('{{ 'services.statut.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: {
 			"OK": function() {                    
                            $('#process_tpl').html(html);

                            $.ajax({
                                type: "POST",
                                url: "{{ path('utb_admin_corbeilleservice')}}",
                                data: {serviceIds:serviceId,},
                                cache: false,
                                success: function(data) {
                                    var answer = jQuery.parseJSON(data);
                                    if( answer.result=="erreurstatut"){
                                        $('#process_tpl').html("{{ 'services.supprimer.impossible'|trans}}");
                                    }
                                    else{
                                        $('#process_tpl').html("{{ 'services.supprimer.reussie'|trans}}");
                                    }
                                    window.location.reload();
                                }
                            });
                            
			},                   
			"{{ 'admin.annuler'|trans}}": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
          
       } 
       
      function gererEtatAll(serviceId,etat){
          if( serviceId.length == 0 ){              
              $('#process_tpl').html("{{ 'admin.natdoc.cocher'|trans}}");
          var args = {modal: true, autoOpen: false, title: ('{{ 'services.statut.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: { 			                  
			"OK": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
              return false;
          }           
          
          $('#process_tpl').html(htmldefault2);
          var args = {modal: true, autoOpen: false, title: ('{{ 'services.statut.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: {
 			"OK": function() {                    
                            $('#process_tpl').html(html);

                            $.ajax({
                                type: "POST",
                                url: "{{ path('utb_admin_gereretatservice')}}",
                                data: {serviceIds:serviceId,etat:etat},
                                cache: false,
                                success: function(data) {
                                    var answer = jQuery.parseJSON(data);
                                    if( answer.result=="erreurstatut"){
                                        $('#process_tpl').html("{{ 'services.supprimer.impossible'|trans}}'");
                                    }
                                    else{
                                        $('#process_tpl').html("{{ 'services.statut.reussie'|trans}}'");
                                    }
                                    window.location.reload();
                                }
                            });
                            
			},                   
			"{{ 'admin.annuler'|trans}}": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
          
       }       
 
</script>                                            
<div id="process_tpl" style="display:none;"></div>                                            
  {% endblock %}

                                            
