
{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - {{ 'sondages.liste.grandtitrepg'|trans({}, 'sondages') }}
{% endblock %}

  {% block administration_body %} 

<!-- FIN MENU RAPIDE BAR HORIZONTALE GRISE -->

<div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->
    <a href="{{path('utb_admin_accueil')}}"> {{ 'admin.accueil'|trans}}</a> > <a href="{{path('utb_admin_listesondage', {'locale': locale})}}">{{ 'admin.layout.sondage'|trans}} </a> > <a href="{{path('utb_admin_listesondage', {'locale': locale})}}">{{'sondages.ajout.titre1'|trans({}, 'sondages')}}</a>  > {{'admin.list'|trans()}}
</div>

<div class="span-25">			<!-- Contien les menus -->
    <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
        <div class="span-10">
            <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-45-user.png')}}" alt="Sondages" title="" /></div>
            <div class="titreModule titreModuleShort colorBleu"><h1>{{ 'sondages.liste.titrepg'|trans({}, 'sondages') }}<h1></div>	
                        <div class="clr"></div>
                        </div>



                        <div class="span-14 last">

                            <div class="ecartBoutonsFirst">&nbsp;</div>

                            <div class="boutonGestion">
                                <div><a href="{{path('utb_admin_ajoutsondage',{'locale':locale})}}"><img src="{{ asset('img/admin-img/ajouter.png')}}" alt="Ajouter" title="{{ 'admin.ajouter'|trans}}" /></div>
                            {{ 'admin.ajouter'|trans}}</a>
                            </div>
                            {#<div class="boutonGestion">
                                <div><a href=""><img src="{{ asset('img/admin-img/modifier.png')}}" alt="Modifier" title="{{ 'admin.modifier'|trans}}" /></div>
                            {{ 'admin.modifier'|trans}}</a>
                            </div>#}

                            <div class="ecartBoutons">&nbsp;</div>
{#
                            <div class="boutonGestion">
                                <div><a href=""><img src="{{ asset('img/admin-img/publier.png')}}" alt="Publier" title="{{ 'admin.activer'|trans}}" /></div>
                            {{ 'admin.activer'|trans}}</a>
                            </div>
                            <div class="boutonGestion btGestMoy">
                                <div><a href=""><img src="{{ asset('img/admin-img/depublier.png')}}" alt="Dé-Publier" title="{{ 'admin.desactiver'|trans}}" /></div>
                            {{ 'admin.desactiver'|trans}}</a>
                            </div>


                            <div class="ecartBoutons">&nbsp;</div>#}
                            
                             {#<div class="boutonGestion">
                                    <div><a href="javascript:void(0);" onclick="gererEtatAll( getSondagesID(),1); return false;"><img src="{{ asset('img/admin-img/publier.png')}}" alt="Publier" title="Mettre en Ligne" /></div>
                                    {{'admin.activer'|trans}}</a>
                            </div>
                            <div class="boutonGestion btGestMoy">
                                    <div><a href="javascript:void(0);" onclick="gererEtatAll( getSondagesID(),0); return false;"><img src="{{ asset('img/admin-img/depublier.png')}}" alt="Dé-Publier" title="Mettre Hors Ligne" /></div>
                                    {{'admin.desactiver'|trans}}</a>
                            </div>
                            <div class="ecartBoutons">&nbsp;</div> #}                           
                            

                            <div class="boutonGestion">
                                <div><a href="javascript:void(0);" onclick="corbeilleAll( getSondagesID()); return false;"><img src="{{ asset('img/admin-img/icon-48-deny.png')}}" alt="{{ 'admin.supprimer'|trans}}" title=" {{ 'admin.corbeille'|trans}}" /></div>
                             {{ 'admin.supprimer'|trans}}</a>
                            </div>
                            <div class="clr"></div>
                        </div>					<!--  FIN allBoutonsGestion -->
                        <div class="clr"></div>
                        </div>						<!--  FIN toulbar 3 -->
                        </div>				<!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->



                        <div class="span-25">						<!-- COLONNE GAUCHE + COLONNE DROITE-->
                            <div class="MarginBottomBox"></div>

                            <div class="span-6">						<!-- COLONNE GAUCHE-->
                                <div class="colLeft">					<!-- COLONNE GAUCHE-->

                                         {# STATISTIQUES #}    
                                         {{ information.stats(listestat) }}                                     
                                    
                                </div>			<!-- Fin COLONNE COLLEFT-->
                            </div>				<!-- Fin COLONNE GAUCHE span 6-->

                            <div class="span-19 last">						<!-- COLONNE DROITE-->
                                <div class="colRight">						<!-- COLONNE DROITE-->


                                    <div class="colorCadreArrondi coinsArrondis bgGris">
                                        <div class="colRightContentPadding">	<!-- CREE LES MARGES GAUCH ET DROITE DAN LA COLONNE CENTRALE-->
						{#	<div class="filtersArticles">
								<input type="text"> <input type="submit" value="OK">
								<select class="filterStatus">
									<option>{{ 'sondages.liste.statut'|trans({}, 'sondages') }} </option>
									<option>{{ 'sondages.liste.actif'|trans({}, 'sondages') }}</option>
									<option>{{ 'sondages.liste.inactif'|trans({}, 'sondages') }}</option>
								
								</select>
								<select class="filterRubrique">
									<option>{{ 'sondages.liste.statut'|trans({}, 'sondages') }}</option>
									<option>Administrateur</option>{#options sondages issus dune bd 
									<option>Redacteur</option>
									<option>Gestionnaire</option>
								</select>

								<div class="clr"></div>
							</div>		#}				<!-- FIN filtersArticles-->

                                                <table class="listMenusCateg listArticlesRub">
                                                    <tr>
                                                        <th><input type="checkbox" class="checkall" name="checkall" /></th>
                                                        <th>{{'sondages.form.nom'|trans({}, 'sondages')}}</th>
                                                        <th colspan="3"></th>
                                                    </tr>	
                                                               {% for sondage in listesondage %}                                                            

                                                           
                                                    <tr {% if loop.index is divisibleby(2)%}  class="bgGris" {% else %} class="bgblanc"  {% endif %}>
                                                        <td><input type="checkbox" name="sondage[]"  rel="sondage_c" value="{{sondage.id}}"/></td>
                                                        <td class="libService">  
                                                                 <a href="{{ path('utb_admin_listeopinion', {'id': sondage.id,'locale': locale}) }}">
                                                                         {{sondage.question }}
                                                                 </a> 
                                                            </td>                                                  
                                                            {#<td>              
                                                                <a href="{{ path('utb_admin_supprsondage', {'id': sondage.id,'locale': locale}) }}" onclick="return confirm('Confirmez vous la suppression ?');">{{ 'admin.supprimer'|trans}}</a> 
                                                            </td>             

                                                                
                                                                        <td> % if sondage.etatCadre == 0 %}
                                                                    <a href="{{ path('utb_admin_gererCadre', {'id': sondage.id,'etat': 1,'locale': locale}) }}">{{ 'admin.activer'|trans}}</a> 
                                                                        {% else %}
                                                                    <a href="{{ path('utb_admin_gererCadre', {'id': sondage.id,'etat': 0,'locale': locale}) }}">{{ 'admin.desactiver'|trans}}</a> 
                                                                        {% endif %</td>#}   
                                                                 
                                                                <td>  
                                                                    {% if locale=="en"%}
                                                                        {% set lelocale = "fr"%}
                                                                    {% elseif locale=="fr"%}
                                                                        {% set lelocale = "en"%}
                                                                    {% endif%}
                                                                    <a href="{{ path('utb_admin_ajoutlanguesondage', {'id': sondage.id,'locale': lelocale}) }}">
                                                                      Lang
                                                                    </a> 
                                                                </td> 

                                                                
                                                                <td>              
                                                                    <a href="{{ path('utb_admin_modifsondage', {'id': sondage.id,'locale': locale}) }}">

                                                                      <img src="{{ asset('img/admin-img/btmodifier.png')}}" alt="Modifier" title="Modifier" />
                                                                    </a> 
                                                                </td> 
                                                                
                                                                <td> 
                                                                    {% if sondage.actif == 0%}
                                                                        <a href="javascript:void(0);" onclick="gererEtatAll( {{sondage.id}},1); return false;">

                                                                          {{ 'admin.activer'|trans}}
                                                                        </a> 
                                                                    {% endif %}
                                                                </td>                                                                 
                                                                
                                                                
                                                            </tr>

    {% else %}
                                                                    <tr>
                                                                        <td colspan="4">{{ 'sondages.none'|trans({}, 'sondages') }} </td>       
                                                                    </tr>       
    {% endfor %}
                                                                </table>



                                                            </div>		<!-- FIN colRightContentPadding  CREE LES MARGES GAUCH ET DROITE DAN LA COLONNE CENTRALE-->
                                                        </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->

                                                    </div>		<!--  FIN COL RIGHT -->
                                                </div>			<!--  FIN  SPAN - 19 -->

                                            </div>				<!--  FIN SPAN - 25 -->
                                            
 <script language="javascript" >
     
        $(".checkall").click(function(){
            $(this).closest("table").find("input[type=checkbox]").prop("checked", this.checked);
       });     
       
       function getSondagesID(){
           
            var sondage_id = "";
            
            $(":input[rel=sondage_c]:checked").each(function(){
		sondage_id = sondage_id.concat( "|" + $(this).val() );
                //actions_id = "1|2|3";
            });   
            
            return sondage_id;
       }
       
       var html = "<div style='text-align:center;'><img src='{{ asset('img/wait.gif') }}' /></div>"; 
       var htmldefault3 = "{{ 'sondages.supprimer.confirmation'|trans}}"; 
       var htmldefault2 = "{{ 'sondages.statut.confirmation'|trans}}"; 
 
    
       function corbeilleAll( sondageId ){
          if( sondageId.length == 0 ){              
              $('#process_tpl').html("{{ 'admin.natdoc.cocher'|trans}}");
          var args = {modal: true, autoOpen: false, title: ('{{ 'sondages.supprimer.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: { 			                  
			"OK": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
              return false;
          }           
          
          $('#process_tpl').html(htmldefault3);
          var args = {modal: true, autoOpen: false, title: ('{{ 'sondages.supprimer.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: {
 			"OK": function() {                    
                            $('#process_tpl').html(html);

                            $.ajax({
                                type: "POST",
                                url: "{{ path('utb_admin_corbeillesondage')}}",
                                data: {sondageIds:sondageId},
                                cache: false,
                                success: function(data) {
                                    var answer = jQuery.parseJSON(data);
                                    if( answer.result=="erreurstatut"){
                                        $('#process_tpl').html("{{ 'sondages.supprimer.impossible'|trans}}");
                                    }
                                    else{
                                        $('#process_tpl').html("{{ 'sondages.supprimer.reussie'|trans}}");
                                    }
                                    window.location.reload();
                                }
                            });
                            
			},                   
			"Cancel": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
          
       } 
       
      function gererEtatAll(sondageId,etat){
          if( sondageId.length == 0 ){              
              $('#process_tpl').html("{{ 'admin.natdoc.cocher'|trans}}");
          var args = {modal: true, autoOpen: false, title: ('{{ 'sondages.statut.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: { 			                  
			"OK": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
              return false;
          }           
          
          $('#process_tpl').html(htmldefault2);
          var args = {modal: true, autoOpen: false, title: ('{{ 'sondages.statut.titre'|trans}}')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: {
 			"OK": function() {                    
                            $('#process_tpl').html(html);

                            $.ajax({
                                type: "POST",
                                url: "{{ path('utb_admin_gereretatsondage')}}",
                                data: {sondageIds:sondageId,etat:etat},
                                cache: false,
                                success: function(data) {
                                    var answer = jQuery.parseJSON(data);
                                    if( answer.result=="erreurstatut"){
                                        $('#process_tpl').html("{{ 'articles.impossiblepub'|trans}}");
                                    }
                                    else{
                                        $('#process_tpl').html("{{ 'sondages.statut.reussie'|trans}}");
                                    }
                                    window.location.reload();
                                }
                            });
                            
			},                   
			"{{ 'admin.annuler'|trans}}": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
          
       }       
 
</script>                                            
<div id="process_tpl" style="display:none;"></div>                                            
  {% endblock %}

                                            
