{# src/utb/AdminBundle/Resources/views/Admin/ajoutMenu.html.twig #}
{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - Droits
{% endblock %}
  
  {% block administration_body %}

              <div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->
                <a href="{{path('utb_admin_accueil')}}"> {{ 'admin.accueil'|trans}}</a> > <a href="{{path('utb_admin_menus', {'locale': locale})}}">{{ 'admin.layout.menu.menus'|trans}}</a> > <a href="#">{{ 'admin.layout.sousmenu.ajoutmenu'|trans }}</a>
            </div>

  <div class="span-25">			<!-- Contien les menus -->
      <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
          <div class="span-19">
              <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-48-menumgr.png')}}" alt="{{ 'admin.layout.menu.menus'|trans}}" title="{{ 'admin.layout.menu.titremenu'|trans}}" /></div>
              <div class="titreModule colorBleu"><h1>{{ 'admin.layout.menu.menus'|trans}} <span>: {{ 'modules.ajout.titre2'|trans({}, 'modules') }}</span><h1></div>	
                          <div class="clr"></div>
                          </div>

                          <div class="span-5 last">

                              <div class="ecartBoutonsFirst">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="{{ 'admin.btnvalider'|trans}}" title="{{ 'admin.btnvalider'|trans}}" /></div>
                                  {{ 'admin.btnvalider'|trans}}</a>
                              </div>

                              <div class="ecartBoutons">&nbsp;</div>

                              <div class="boutonGestion">

                                  <div><a class="back" href="#"><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="{{ 'admin.annuler'|trans}}" title="{{ 'admin.annuler'|trans}}" /></div>
                                  {{ 'admin.annuler'|trans}}</a>
                              </div>
                              <div class="clr"></div>
                          </div>					<!--  FIN allBoutonsGestion -->
                          <div class="clr"></div>
                          </div>						<!--  FIN toulbar 3 -->
 </div> <!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->

 <div class="span-25">		<!-- COLONNE GAUCHE + COLONNE DROITE-->
       <div class="MarginBottomBox"></div>

                              <div class="span-6">						<!-- COLONNE GAUCHE-->
                                  <div class="colLeft">					<!-- COLONNE GAUCHE-->

                                      {# STATISTIQUES #}    
                                      {{ information.stats(listestat) }}   



                                  </div>			<!-- Fin COLONNE COLLEFT-->
                              </div>				<!-- Fin COLONNE GAUCHE span 6-->


                              <div class="span-19 last">						<!-- COLONNE DROITE-->
                                  <div class="colRight">						<!-- COLONNE DROITE-->

                                      <div class="MarginBottomBox colorCadreArrondi coinsArrondis bgGris">
                                          <div class="colRightContentPadding">
                                              <div class="FrmAjoutArt colorCadreArrondi bgBlanc">
                                                  <div class="MarginBottomBox ">
                                                     <form method="post" {{ form_enctype(form) }} id="addMenu" action="">
                                                                <p>
                                                                <span class="colorBleu">{{ form_label(form.typeMenu, 'menus.typemenu'|trans({}, 'menus')) }}</span> 
								{{ form_widget(form.typeMenu) }}     
                                                                </p>
                                                                  <div class="clr"></div>  
                                                                <div id="second_step" style="display:none;">  
                                                                <p>
                                                                <span class="colorBleu">{{ form_label(form.groupeMenu, 'menus.groupe.nom'|trans({}, 'menus')) }}</span> 
								{{ form_widget(form.groupeMenu) }}        
                                                                {{ form_widget(form.menuAjoutPar) }}
                                                                </p>
                                                                 <div class="clr"></div>
                                                                <p>
                                                                <span class="colorBleu">{{ form_label(form.idParentMenu, 'menus.parent'|trans({}, 'menus') }}</span> 
								{{ form_widget(form.idParentMenu) }}     
                                                                </p>   
                                                                 <div class="clr"></div>
                                                                 
                                                                <p id="form_rubrique_container" style="display:none;">
                                                                <span class="colorBleu"><label>{{ 'rubriques.selectionrubrique'|trans({}, 'rubriques')}}</label></span> 
                                                                    <select name="rubrique" id="form_rubrique" >
                                                                        {% for rb in rubriques %}
                                                                        <option value="{{ rb.getId() }}">{{ rb.getNomRubrique() }}</option>
                                                                        {% endfor %}
                                                                    </select>   
                                                                </p>    
                                                                
                                                                 <div class="clr"></div>
                                                                <p>
                                                                  <span class="colorBleu">{{ form_label(form.libMenu, 'menus.gestion.libelle'|trans({}, 'menus')) }}</span> 
								  {{ form_widget(form.libMenu) }}     
                                                                </p>
                                                               
                                                                  <div class="clr"></div>
                                                                <p>
                                                                <span class="colorBleu">{{ form_label(form.urlExterneMenu, 'menus.urlexterne'|trans({}, 'menus')) }}</span> 
								  {{ form_widget(form.urlExterneMenu) }}     
                                                                </p>   

   
                                                                  <div class="clr"></div>
                                                                <input type="submit" class="btn btn-primary" />
                                                                <input type="submit" value="{{ 'admin.ajouter'|trans}}" name="op" id="j_bouton" style="display: none"><a href=""></a>
                                                                </div>
                                                       </form>
                                                      <div class="clr"></div>
                                                      </div>

                                                  </div>


                                              </div>			<!-- FIN colRightContentPadding-->
                                          </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->

                                      </div>		<!--  FIN COL RIGHT -->
                                  </div>			<!--  FIN  SPAN - 19 -->

                              </div>				<!--  FIN SPAN - 25 -->
   <script>
       $("#form_typeMenu").change( function(){
            $("#form_rubrique").val(0);
           $("#form_libMenu").val($(this).children("option[value="+$(this).val()+"]").text());
           
           if( $(this).val()!=0 ){
                $("#second_step").show();
                
                if( $(this).val()>=2 && $(this).val()<=5 ){
                    $("#form_rubrique_container").show();
                }
                else{
                      $("#form_rubrique_container").hide();
                }
                
                var urlextern = 'utb_site_homepage';
                
                //Si la page de redirection du menu est different de la page d'accueil du site
                if( $(this).val() !=1 ){ 
                      //To do
                }
                
                $("#form_urlExterneMenu").val(urlextern);
                  
           }    
            else
                $("#second_step").hide();
       } );
       
        $("#form_rubrique").change( function(){
           
            $("#form_libMenu").val($(this).children("option[value="+$(this).val()+"]").text());

            var urlextern = '';
             if( $(this).val()!=0 ){
                 if( $("#form_typeMenu").val()>=2 && $("#form_typeMenu").val()<=4 )
                    urlextern = $("#form_typeMenu").children("option[value="+$("#form_typeMenu").val()+"]").text()+"|"+$("#form_rubrique").val();
                 if( $("#form_typeMenu").val()>=5 ){
                      //To do
                     alert("Implementation en cours...By mathi");
                 }
             }      
            $("#form_urlExterneMenu").val(urlextern);
        });
   </script>                           
  {% endblock %}
  
