{# src/utb/AdminBundle/Resources/views/ajoutProfil.html.twig #}

{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - {{ 'controleurs.ajout.grandtitrepg'|trans({}, 'controleurs') }}
{% endblock %}

  {% block administration_body %} 
  
   				<!-- FIN MENU RAPIDE BAR HORIZONTALE GRISE -->

            <div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->
                <a href="{{path('utb_admin_accueil',{ 'locale': locale })}}"> {{ 'admin.layout.tb'|trans}}</a> > <a href="{{path('utb_admin_listecontroleur', {'locale': locale})}}">{{ 'controleurs.titre'|trans({}, 'controleurs') }}</a> > <a href="#">{{ 'admin.layout.sousmenu.ajoutercontroleur'|trans }}</a>
            </div>
  

  <div class="span-25">			<!-- Contien les menus -->
      <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
          <div class="span-19">
              <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-45-user.png')}}" alt="{{ 'controleurs.titre'|trans({}, 'controleurs') }}" title="{{ 'controleurs.liste.grandtitrepg'|trans({}, 'controleurs') }}" /></div>
              <div class="titreModule colorBleu"><h1>{{ 'controleurs.ajout.titre1'|trans({}, 'controleurs') }} <span>:  {{ 'controleurs.ajout.titre2'|trans({}, 'controleurs') }}</span><h1></div>	
                          <div class="clr"></div>
                          </div>

                          <div class="span-5 last">

                              <div class="ecartBoutonsFirst">&nbsp;</div>
                                <form action="{{ path('utb_admin_ajoutcontroleur') }}" {{ form_enctype(form) }} method="POST">
                              <div class="boutonGestion">
                                  <div><a href="javascript:document.getElementById('j_bouton').submit()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="{{ 'admin.btnvalider'|trans}}" title="{{ 'admin.btnvalider'|trans}}" /></div>
                                 {{ 'admin.btnvalider'|trans}}</a>
                              </div>

                              <div class="ecartBoutons">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a class="back" href="#"><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="{{ 'admin.annuler'|trans}}" title="{{ 'admin.annuler'|trans}}" /></div>
                                  {{ 'admin.annuler'|trans}}</a>
                              </div>
                              </form>
                              <div class="clr"></div>
                          </div>					<!--  FIN allBoutonsGestion -->
                          <div class="clr"></div>
                          </div>						<!--  FIN toulbar 3 -->
                          </div> <!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->

                          <div class="span-25">						<!-- COLONNE GAUCHE + COLONNE DROITE-->
                              <div class="MarginBottomBox"></div>

                              <div class="span-6">						<!-- COLONNE GAUCHE-->
                                  <div class="colLeft">					<!-- COLONNE GAUCHE-->

                                      {# STATISTIQUES #}    
                                      {{ information.stats(listestat) }}   



                                  </div>			<!-- Fin COLONNE COLLEFT-->
                              </div>				<!-- Fin COLONNE GAUCHE span 6-->


                              <div class="span-19 last">						<!-- COLONNE DROITE-->
                                  <div class="colRight">						<!-- COLONNE DROITE-->

                                      <div class="MarginBottomBox colorCadreArrondi coinsArrondis bgGris">
                                          <div class="colRightContentPadding">
                                              <div class="FrmAjoutImg colorCadreArrondi bgBlanc">
                                                  <div class="MarginBottomBox">
                                                           <form action=" {{ path("utb_admin_ajoutcontroleur",{'locale':locale}) }} " method="post" {{ form_enctype(form) }} id="ajoutControleur">
                                                               <div class="ecartLabel">&nbsp;</div>
                                                                {{ form_errors(form.nomControleur) }}
                                                                <span class="colorBleu MarginBottomBox MarginLeftBox">{{ 'controleurs.form.nom'|trans({}, 'controleurs') }}</span> 
								{{ form_widget(form.nomControleur) }}
                                                                <div class="ecartLabel">&nbsp;</div>
                                                                {{ form_errors(form.description) }}
                                                                <span class="colorBleu MarginBottomBox MarginLeftBox">{{ 'controleurs.form.desc'|trans({}, 'controleurs') }}</span> 
                                                                <div class="ecartLabel">&nbsp;</div>
                                                                {{ form_widget(form.description) }}
								<div class="clr"></div> 
                                                                 <input type="submit" value="{{ 'admin.ajouter'|trans({}, 'messages')}}" name="op" id="j_bouton" style=""><a href=""></a>
                                                          </form>

                                                          <div class="clr"></div>
                                                      </div>

                                                  </div>


                                              </div>			<!-- FIN colRightContentPadding-->
                                          </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->

                                      </div>		<!--  FIN COL RIGHT -->
                                  </div>			<!--  FIN  SPAN - 19 -->

                              </div>				<!--  FIN SPAN - 25 -->



  {# On définit un nouveau block, que les vues du bundle pourront remplir #}

  {% endblock %} 
