

{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - Espace Administration
{% endblock %}

  {% block administration_body %} 
  
   				<!-- FIN MENU RAPIDE BAR HORIZONTALE GRISE -->

            <div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->
                <a href="{{path('utb_admin_accueil',{ 'locale': locale })}}"> {{ 'admin.layout.tb'|trans}}</a> > <a href="{{path('utb_admin_listerubrique',{'locale': locale})}}">Rubrique</a> > <a href="{{path('utb_admin_listedimension', {'locale': locale})}}">Dimension</a> > <a href="#">Modifier</a>
            </div>

  <div class="span-25">			<!-- Contien les menus -->
      <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
          <div class="span-19">
              <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-45-user.png')}}" alt="Profil" title="Gestion des Utilisateurs" /></div>
              <div class="titreModule colorBleu"><h1>Module <span>: Création</span><h1></div>	
                          <div class="clr"></div>
                          </div>

                          <div class="span-5 last">

                              <div class="ecartBoutonsFirst">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="Valider" title="Valider" /></div>
                                  {{ 'admin.btnvalider'|trans}}</a>
                              </div>

                              <div class="ecartBoutons">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a class="back" href="#"><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="Annuler" title="Annuler" /></div>
                                  {{ 'admin.annuler'|trans}}</a>
                              </div>
                              <div class="clr"></div>
                          </div>					<!--  FIN allBoutonsGestion -->
                          <div class="clr"></div>
                          </div>						<!--  FIN toulbar 3 -->
                          </div> <!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->
                          
                          <div class="span-25">						<!-- COLONNE GAUCHE + COLONNE DROITE-->
                              <div class="MarginBottomBox"></div>

                              <div class="span-6">						<!-- COLONNE GAUCHE-->
                                  <div class="colLeft">					<!-- COLONNE GAUCHE-->

                                        {# STATISTIQUES #}    
                                        {{ information.stats(listestat) }} 


                                  </div>			<!-- Fin COLONNE COLLEFT-->
                              </div>				<!-- Fin COLONNE GAUCHE span 6-->


                              <div class="span-19 last">						<!-- COLONNE DROITE-->
                                  <div class="colRight">						<!-- COLONNE DROITE-->

                                      <div class="MarginBottomBox colorCadreArrondi coinsArrondis bgGris">
                                          <div class="colRightContentPadding">
                                              <div class="FrmAjoutArt colorCadreArrondi bgBlanc">
                                                  <div class="MarginBottomBox">
                                                        <form action=" {{ path( "utb_admin_modifdimension", {'id': id,'locale':locale} ) }} " method="post" {{ form_enctype(form) }} class="blogger formAdministrons">
                                                           {{ form_widget(form) }}

                                                           <input type="submit" value="{{ 'admin.modifier'|trans({}, 'messages')}}" name="op" id="j_bouton" style="display: none"><a href=""></a>
                                                        </form>
                                                      <div class="clr"></div>
                                                  </div>

                                              </div>


                                          </div>			<!-- FIN colRightContentPadding-->
                                      </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->

                                  </div>		<!--  FIN COL RIGHT -->
                              </div>			<!--  FIN  SPAN - 19 -->

                          </div>				<!--  FIN SPAN - 25 -->
  
  

  {% endblock %}
