
{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - {{ 'articles.ajout.grandtitrepg'|trans({}, 'articles') }}
{% endblock %}

  {% block administration_body %} 
  
   				<!-- FIN MENU RAPIDE BAR HORIZONTALE GRISE -->
          

            <div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->
                <a href="{{path('utb_admin_accueil',{ 'locale': locale })}}"> {{ 'admin.accueil'|trans}}</a> > 
                <a href="{{path('utb_admin_ListeDiffusion', {'etat': 1,'ajoutliste': 0,'locale': locale})}}"> {{'admin.layout.gestnewsletter'|trans}}</a> > 
                {{ 'admin.layout.sendmails'|trans}}
            </div>                                
                    {#% for contenu in app.session.flashbag.get('notice') %}             
                    {% if contenu == "errortypficart" %}
                                    <div class="span-25">
                                         <div class="notices noticesMsg">
                                        {{ 'notification.errortypepub'|trans({}, 'articles') }}
                                         </div>
                                    </div>
                                
                   {% elseif contenu == "errorajtartdescvide" %}
                                    <div class="span-25">
                                         <div class="error errorMsg">
                        {{ 'notification.ajoutartdescvide'|trans({}, 'articles') }}
                                         </div>
                                    </div>
                                
                   {% elseif contenu == "errorajtartexist" %}
                                    <div class="span-25">
                                         <div class="error errorMsg">
                        {{ 'notification.ajoutexistart'|trans({}, 'articles') }}
                                         </div>
                                    </div>                               

                    {% endif %}
                                
                    {% endfor %#}

  <div class="span-25">			<!-- Contien les menus -->
      <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
          <div class="span-19">
              <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-48-new-privatemessage.png')}}" alt="{{ 'articles.ajout.titre1'|trans({}, 'articles')}}" title="{{ 'articles.grandsoustitre'|trans({}, 'articles')}}" /></div>
              <div class="titreModule colorBleu"><h1>{{'admin.layout.gestnewsletter'|trans}} <span>: {{'admin.layout.sendmails'|trans}}<h1></div>	
                          <div class="clr"></div>
                          </div>

                          <div class="span-5 last">

                              <div class="ecartBoutonsFirst for2Butons">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="{{ 'admin.btnvalider'|trans}}" title="{{ 'admin.btnvalider'|trans}}" /></div>
                                  {{ 'admin.btnvalider'|trans}}</a>
                              </div>

                              <div class="ecartBoutons">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="#" class="back"><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="{{ 'admin.annuler'|trans}}" title="{{ 'admin.annuler'|trans}}" /></div>
                                  {{ 'admin.annuler'|trans}}</a>
                              </div>
                              <div class="clr"></div>
                          </div>					<!--  FIN allBoutonsGestion -->
                          <div class="clr"></div>
                          </div>						<!--  FIN toulbar 3 -->
   </div> <!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->
                          
                          <div class="span-25">						<!-- COLONNE GAUCHE + COLONNE DROITE-->
                              <div class="MarginBottomBox"></div>

                              <div class="span-6">						<!-- COLONNE GAUCHE-->
                                  <div class="colLeft">					<!-- COLONNE GAUCHE-->
                                   
                                      <p>&nbsp;</p>   
                                      {#{ information.stats(listestat) }#}                                       

                                  </div>			<!-- Fin COLONNE COLLEFT-->
                              </div>				<!-- Fin COLONNE GAUCHE span 6-->


						  <div class="span-19 last">						<!-- COLONNE DROITE-->
							  <div class="colRight">						<!-- COLONNE DROITE-->

								  <div class="MarginBottomBox colorCadreArrondi coinsArrondis bgGris">
									  <div class="colRightContentPadding">
									  
                                        <form action=" {{ path("utb_admin_SendMailsToListe",{'locale': locale,'idliste': idliste}) }} " method="post" {{ form_enctype(form) }} id="ajoutRubrique">
                                            
                                            <div class="FrmAjoutArt">           
											{{ form_errors(form.destinatairesMsg) }}
											<span class="labelNoFloat labelListeDif">
											{{ form_label(form.destinatairesMsg, 'articles.form.mails'|trans({},'articles')) }}
											{{ form_widget(form.destinatairesMsg) }} </span> 
											<div class="clr"></div>
					    </div>
											
                                            <div class="FrmAjoutArt">           
											{{ form_errors(form.titreMessage) }}
											<span class="labelNoFloat">
											{{ form_label(form.titreMessage, 'articles.form.titre'|trans({}, 'articles')) }}</span> 
											{{ form_widget(form.titreMessage) }}
					    </div>
                                                
					    <div class="FrmAjoutArt"> 
											{{ form_errors(form.contenuMessage) }}
											<span class="labelNoFloat">
											{{ form_label(form.contenuMessage, 'articles.form.desc'|trans({}, 'articles')) }}</span> 
											{{ form_widget(form.contenuMessage) }}
					    </div>      
                                                
                                            <input type="submit" value="{{ 'admin.ajouter'|trans({}, 'messages')}}" name="op" id="j_bouton" style="display: none"><a href=""></a>
                                       </form>
                                               

									  </div>			<!-- FIN colRightContentPadding-->
								  </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->

                                        <div class="bottomButAction coinsArrondisMin colorCadreArrondi bgGris">
                                              <div class="ecartBoutonsForBottom">&nbsp;</div>
                                               <div class="boutonGestion">
                                                        <div><a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="{{ 'admin.btnvalider'|trans}}" title="{{ 'admin.btnvalider'|trans}}" /></div>
                                                        {{ 'admin.btnvalider'|trans}}</a>
                                                </div>

                                                <div class="ecartBoutons">&nbsp;</div>

                                                <div class="boutonGestion">
                                                        <div><a href="#" class="back"><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="{{ 'admin.annuler'|trans}}" title="{{ 'admin.annuler'|trans}}" /></div>
                                                        {{ 'admin.annuler'|trans}}</a>
                                                </div>
                                                <div class="clr"></div>
                                        </div>      <!-- div.bottomButAction-->  

                                    </div>		<!--  FIN COL RIGHT -->
                            </div>			<!--  FIN  SPAN - 19 -->

                    </div>				<!--  FIN SPAN - 25 -->
  
  {% endblock %}
