<page backtop="65mm" backbottom="7mm">
       <page_header>
            <div id="entete" >
                    <div style="width: 755px;border-top: 1px solid #0049ba;border-bottom: 1px solid #0049ba;padding-top: 4px; padding-bottom: 4px;margin-top:8px;">
                        <h1 style="padding: 0px; margin: 0px;font-family:helvetica;color: #0049ba;font-size: 10px;">  
                            
                      <img src="{{lien}}{{asset('img/client-img/logo_utb_mini.jpg')}}" alt="" >
                        
                        </h1>
                    </div>
                    <div style="width: 755px;border-bottom: 1px solid #0049ba;padding-top: 4px; padding-bottom: 4px;margin-top:0px;">
                        <div style="padding: 0px; margin: 0px;text-align: center;">{{ 'client.aptitresa2'|trans({}, 'messages') }}</div> 
                        <div style="padding: 0px; margin: 0px;text-align: center;">{{ 'client.aptitresa3'|trans({}, 'messages') }}</div>
                    </div>
            </div>
           
            <div style="margin-top:10px;margin-bottom:0px; width:755px;"> 
                <strong>
                    <div style="padding: 0px; margin: 0px;"> {{'compte.relever'|trans({},'compte') }} : {{laperiode}} ( Page [[page_cu]]/[[page_nb]] )</div>
                    <div style="text-align: center;margin:0px;padding:0px;">{{ periodentete }}</div>
                </strong>
            </div> <!-- Fin bande 2 -->
            
            <div style="margin-bottom: 10px;">
                <ul style="list-style: none;margin: 0px;margin-top: 0px;margin-left: -35px;">      
                    <li><strong>{{'compte.rsoc'|trans({},'compte')|upper }}</strong>: <span>{{ unAbonne.getNomPrenom()|trim|upper }}</span></li>
                    <li><strong>{{'compte.num'|trans({},'compte') }}</strong>: <span>{{ listeOperation[0].numeroCompte }}</span></li>
                    {% if numrib|trim != '' %}
                    <li><strong>{{'compte.numrib'|trans({},'compte') }}</strong>: <span>{{ numrib }}</span>                    
                        {#% if agence != null %}
                                <strong>{{'compte.agence'|trans({},'compte') }}</strong>: 
                                <span>
                                    {{agence.getLibAgence()}}
                                    {% if agence.getTelAgence()|trim != '' %}  - {% endif %}
                                    {{agence.getTelAgence()}}
                                </span>
                        {% endif %#}                    
                    </li>
                    {% endif %}    
                    
                        <li><strong>{{'compte.releves.solde'|trans({},'compte')|upper }}</strong>: 
                             <span>
                                 {% if finsolde[0].sens|lower =='d' %} - {% endif %}
                                    {{ finsolde[0].solde|number_format(0, '', ' ') }}
                             </span>
                                      &nbsp;&nbsp; - &nbsp;&nbsp;
                                      <span>   <strong> {{'compte.devise'|trans({},'compte')|upper }}</strong>: 
                                     <span>FRANCS CFA</span> &nbsp;  
                             </span> 
                        </li>
                    {% if telGest|trim != '' %}
                        <li>
                            <strong>{{'compte.telgest'|trans({},'compte') }}</strong>: <span>{{ telGest }}</span>
                        </li> 
                    {% endif %} 
                   
                </ul>
            </div>   
                
	</page_header>
        
	<page_footer>
            
            <div style="border-top: 2px solid #555;width:755px;margin-top: 20px;">
                <h5 style="text-align: center;margin: 5px 0px;padding: 0px;font-size: 8px;font-weight: normal;">
                {{'compte.texte'|trans({},'compte') }}
                </h5>                   
                <span style="clear:both;"></span>
            </div>                        
             
	</page_footer>   
        
            {% set sens07 = '' %}  
            {% set solde07 = 0 %}    
               
            <div  style=" width: 755px;">
                
                    <!-- bloc de gauche ( N° Compte - Agence ...) ... -->

                    <!-- si la variable unAbonne existe donc ... -->
                    {#<div style="width: auto; padding: 0 10px; text-align: right;margin-bottom: 20px; border: 1px solid #ccc; position: relative; right: 0px;">
                    {% if (unAbonne is defined ) and (unAbonne != null)%}
                        
                            {{ unAbonne.getNomPrenom()|trim|upper }}<br />
                            {{ unAbonne.getTelAbonne()|trim }}<br />
                            {% if unAbonne.getTelAbonne()|trim != '' and unAbonne.getTelAbonne()|trim != '' %}  - {% endif %}
                               {{ unAbonne.getCelAbonne()|trim }} <br />
                               {{ unAbonne.getAdresseAbonne()|trim }} 
                        
                    {% endif %}
                    </div>#}
                    
                    
    
                {% if listeOperation|length>0 %}
                
                    <style>
                        table td{font-size:10px;}
                        table th{font-size:12px;}
                        th,td{vertical-align: middle;}
                    </style>    
                <table class="withTDborder" style="width:750px;border-collapse: collapse;text-align: left;/*margin-right: 2px;*/font-size: 10px; margin-bottom: 0px;">
                    
                 <thead>
                        {#<div style="height: 10px"></div>#}
                        <tr style="text-align: left;" class="titreTableau">    
                            <th style="text-align: left;border: 1px solid #ccc;padding-left: 5px;padding:3px;width: 44px;">{{'compte.date'|trans({},'compte') }}</th>
                            <th style="text-align: left;border: 1px solid #ccc;padding-left: 5px;padding:3px;width: 260px;">{{'compte.nature'|trans({},'compte') }}</th>
                            <th style="text-align: left;border: 1px solid #ccc;padding-left: 5px;padding:3px;width: 44px;">{{'compte.valeur'|trans({},'compte') }}</th>
                            <th style="text-align: left;border: 1px solid #ccc;padding-left: 5px;padding:3px;width: 70px;">{{'compte.debit'|trans({},'compte') }}</th>
                            <th style="text-align: left;border: 1px solid #ccc;padding-left: 5px;padding:3px;width: 70px;">{{'compte.credit'|trans({},'compte') }}</th>
			    <th style="text-align: left;border: 1px solid #ccc;padding-left: 5px;padding:3px;width: 70px;">{{'compte.nummouvement'|trans({},'compte') }}</th>
			    <th style="text-align: left;border: 1px solid #ccc;padding-left: 5px;padding:3px;width: 90px;">{{'operation.soldeligne2'|trans({}, 'recherche')}}</th>
                        </tr>
                 
                   </thead>  
                    {% set montantdebit =0 %} {% set montantcredit =0 %}
                    {% if ( debsolde !=null and debsolde|length > 0) %}
                    <tr>
                         <td colspan="3" style="text-align: center;font-weight: bold;border: 1px solid #ccc;padding:1px;padding-top:4px;padding-left: 5px;">
                             {% if debsolde[0] is defined and debsolde[0].sens|lower == 'd' %}
                                <strong> {{'compte.releves.soldedeb'|trans({},'compte')|upper}} </strong> 
                                {{debsolde[0].dateSolde|date('d/m/Y')}}  
                             {% elseif debsolde[0] is defined and debsolde[0].sens|lower == 'c' %}
                                <strong> {{'compte.releves.soldecred'|trans({},'compte')|upper}} </strong>
                                {{debsolde[0].dateSolde|date('d/m/Y')}}
                             {% endif %}                                
                         </td>

                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">
                                                          
                         </td>
                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">                            
                             
                         </td>  
                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">                            
                             
                         </td>
                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">
                            {% if debsolde[0].sens|lower == 'd' %} <strong> -{{ debsolde[0].solde|number_format(0, '', ' ') }} </strong> {% endif  %}
                            {% if debsolde[0].sens|lower == 'c' %} <strong>  {{ debsolde[0].solde|number_format(0, '', ' ') }} </strong> {% endif %}
                         </td>
						
                    </tr>                
                    {% endif %} 
                    
                    
                    {% for operation in listeOperation %}                        
                  
                   {#   <!-- Affichage du solde final en fin de relevé ... -->  #}
                      {% if (operation.codOperation|trim == '07') %}
                           {% set sens07 = operation.sensOperation|lower %}  
                           {% set solde07 = operation.montant %} 
                      {% endif %}                     
                         
                       {#   <!-- Affichage des opérations du relevé ... -->   #}
                      {% if operation.codOperation|trim == '04' %}                             
                            
                            {# début Détermination des soldes finaux - méthode d'accumulation  #}
                              {% if operation.sensOperation|lower == 'd' %}
                                 {% set montantdebit = montantdebit + operation.montant %}
                              {% else%} {% set montantdebit = montantdebit + 0%} {% endif %} 

                              {% if operation.sensOperation|lower == 'c' %}
                                 {% set montantcredit = montantcredit + operation.montant %}
                              {% else %} {% set montantcredit = montantcredit + 0 %} {% endif %} 
                            {# fin Détermination des soldes finaux #}                            
                            
                            <tr {% if loop.index is odd %}  class="bgGris" {% else %} class="bgBlanc"  {% endif %} >
                                <td style="border: 1px solid #ccc;padding:1px;padding-top:2px;padding-left: 5px; width: 38px;"> {{operation.dateOperation|date("d/m/Y")|datelangue(locale) }} </td>                                 
                                <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-left: 5px; width: 190px;"> {{operation.libOperation|raw }}</td> 
                                <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-left: 5px; width: 38px;"> 
                                    {% if operation.dateValeur|date("d/m/Y")|slice(6,1) != '-' %}
                                        {{operation.dateValeur|date("d/m/Y")|datelangue(locale) }} 
                                    {% endif %}
                                </td>
                                <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right; width: 70px;">
                                    {% if operation.sensOperation|lower == 'd' %} {{(operation.montant)|number_format(0, '', ' ') }} {% endif %}                                 
                                </td>
                                <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right; width: 70px;">
                                    {% if operation.sensOperation|lower == 'c' %} {{(operation.montant)|number_format(0, '', ' ') }} {% endif %}
                                </td>
                                <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right; width: 70px;">
                                    {% if operation.numeroMvt != "" %} {{operation.numeroMvt}} {% endif %}
                                </td>
                                <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right; width: 90px;">
                                {% if operation.soldeEnLigne != 0 %}
                                {{operation.soldeEnLigne|number_format(0, '', ' ') }} 
                               {% endif %}   
                                </td>
                            </tr>                            
                      {% endif %} 
                            
                    {% endfor %}  
                            
                    <tr>                        
                        <td colspan="3" style="text-align: left;border: 1px solid #ccc;padding:1px;padding-top:5px;padding-left: 5px;width: 300px;">{{'compte.total'|trans({},'compte') }}</td>
                        <td style="text-align: left;border: 1px solid #ccc;padding:1px;padding-top:4px;padding-left: 5px;width: 70px;text-align: right;">{{montantdebit|number_format(0, '', ' ')}}</td>
                        <td style="text-align: left;border: 1px solid #ccc;padding:1px;padding-top:4px;padding-left: 5px;width: 70px;text-align: right;">{{montantcredit|number_format(0, '', ' ')}}</td>
                        <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;"></td>
                        <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;"></td>
					</tr>          
                    {% if ( finsolde !=null and finsolde|length > 0) %}
                    <tr>
                         <td colspan="3" style="text-align: center;font-weight: bold;border: 1px solid #ccc;padding:1px;padding-top:5px;padding-left: 5px;">
                             {% if finsolde[0] is defined and finsolde[0].sens|lower == 'd' %}
                                <strong> {{'compte.releves.soldedeb'|trans({},'compte')|upper}} </strong> 
                                {{finsolde[0].dateSolde|date('d/m/Y')}}  
                             {% elseif finsolde[0] is defined and finsolde[0].sens|lower == 'c' %}
                                <strong> {{'compte.releves.soldecred'|trans({},'compte')|upper}} </strong>
                                {{finsolde[0].dateSolde|date('d/m/Y')}}
                             {% endif %}                                
                         </td>
                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">
                                                         
                         </td>
                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">                            
                             
                         </td>    
                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">                            
                             
                         </td>    
                         <td style="border: 1px solid #ccc;padding:1px;padding-top:4px;padding-right: 5px; text-align: right;">
                                    {% if finsolde[0].sens|lower == 'd' %} <strong> -{{finsolde[0].solde|number_format(0, '', ' ') }} </strong> {% endif  %} 
                                    {% if finsolde[0].sens|lower == 'c' %} <strong>{{finsolde[0].solde|number_format(0, '', ' ') }} </strong> {% endif %}
                         </td>
                    </tr>                
                    {% endif %} 
                    
                    
                </table>
                {% endif %}
               
            </div>

	</page><!-- Fin body --> 


<!-- Fin page -->
