{# src/utb/AdminBundle/Resources/views/Admin/detailCompte.html.twig #}
{% extends "utbClientBundle::layoutClient.html.twig" %}
{% block title %}
  {{ parent() }} - Détails du compte
{% endblock %}
  
  {% block client_centre_body %}
  {% for abonne in unAbonne %}
    {% for contenu in app.session.flashbag.get('notice') %}
        {% if contenu == "success" %}
            
		<div class="success leftSpace rightSpace center">                        
		{{ 'abonnes.addsuccess'|trans({}, 'abonnes') }}
		</div>    

	{% endif %}
	{% if contenu == "errortypficart" %}

		<div class="error leftSpace rightSpace center">
		{{ 'notification.errortype'|trans({}, 'articles') }}
		</div>

	{% endif %}
	{% if contenu == "successmodifmediaart" %}

		<div class="success leftSpace rightSpace center">
		{{ 'notification.modifmediabn'|trans({}, 'articles') }}
		</div>

	{% endif %}

	{% if contenu == "modifsuccess" %}

		<div class="success leftSpace rightSpace center">                        
		{{ 'abonnes.modifsuccess'|trans({}, 'abonnes') }}
		</div>    

	{% endif %} 

	{% if contenu == "errancienpwd" %}

		<div class="success leftSpace rightSpace center">                        
		{{ 'abonnes.errancienpwd'|trans({}, 'abonnes') }}
		</div>    

	{% endif %}                         

	{% if contenu == "passworderror" %}

		<div class="success leftSpace rightSpace center">                        
		{{ 'abonnes.passworderror'|trans({}, 'abonnes') }}
		</div>    

	{% endif %}

	<!-- notices facturation -->
	{% if contenu == "error_defcomptefacturation" %}

		<div class="error leftSpace rightSpace center">                        
		{{ 'abonnes.defcomptefacturation.error'|trans({}, 'abonnes') }}
		</div>    

	{% endif %}

	{% if contenu == "success_defcomptefacturation" %}

		<div class="success leftSpace rightSpace center">                        
		{{ 'abonnes.defcomptefacturation.success'|trans({}, 'abonnes') }}
		</div>    

	{% endif %}

    {% endfor %}

			<!-- COLONNE GAUCHE + COLONNE DROITE-->
	<ul class="filariane bleuLink">
		<li><a  href="{{ path("utb_client_accueil",{'locale':locale,'typePre':1}) }}" ><img src="{{ asset('img/client-img/pointer.png')}}" alt="" />{{'client.tb.titre'|trans({},'messages') }}</a></li>
		<li><img src="{{ asset('img/client-img/icon-rightdirect.png')}}" alt="" /></li>
                <li><a href="{{ path("utb_client_mesComptes",{'locale':locale}) }}">{{'compte.titre'|trans({},'compte') }}</a></li>
		<li><img src="{{ asset('img/client-img/icon-rightdirect.png')}}" alt="" /></li>
		<li>{{'compte.releve'|trans({},'compte') }}</li>{#{'operation.titre'|trans({},'recherche')}#}
	</ul>

        {% if objetCpte !=null %}
                        
            <table class="infoCompte">
                    <tr><td>{{'compte.num'|trans({},'compte')}}</td> <td> {{ objetCpte.getNumeroCompte() }}  </td></tr>
                    <tr><td>{{'compte.type'|trans({},'compte')}}</td> <td> {% if objetCpte.getCategorieCompte() != null and objetCpte.getCategorieCompte().getLibCategorie() != null %} {{ objetCpte.getCategorieCompte().getLibCategorie()}} {% endif %} </td></tr>
                    {% if objetCpte.getNumRib() != null %}
                        <tr><td>N° RIB </td> <td>{{ objetCpte.getNumRib()}}</td></tr>
                    {% endif %}                        
                      <tr>
                      <td>{{'compte.releves.solde'|trans({},'compte')}}                          
                           {% if (opsolde != null) and (opsolde.getSensOperation() == 'C') %}({{'compte.operations.crediteur'|trans({}, 'compte')}}){% elseif (opsolde != null) and (opsolde.getSensOperation() == 'D')  %}({{'compte.operations.debiteur'|trans({}, 'compte')}}){% endif %}                                                </td>                             
                      <td>
                          {% if (opsolde != null)  %}  
                            {{opsolde.getMontant()|number_format(0, '', ' ')}}</td>
                          {% else %}  
                           -
                          {% endif %}  
                      </tr>                            
                    <tr><td>
                        {% if objetCpte!= null and (objetCpte.getFonds() is defined )  %}    
                             {{'gestionnaire.gest'|trans({},'abonnes')}}</td> <td>{{ objetCpte.getFonds().getUtilisateur().getNomPrenom()}}
                        {% endif %}    
                     </td></tr>    
                    
            </table> 
                        
        {% endif %}                 
		<h2 class="miniTitle title2 title-WithTopBar hover-title-WithTopBar">{{'compte.moins'|trans({},'compte') }} {{idCompte}} {{'compte.by'|trans({},'compte') }}</h2>
		{# {'operation.titre'|trans({},'recherche')} #}
		<!--  Debut du box compte-->
                
                <!-- FIN filterPageBox coinsArrondis -->
     
		{% set tab = {'imprimer':1,'listeOperation':listeOperation} %}   
		
		{% if  app.request.get('mtta')|trim == null   %}   
				{% set mttap = 0 %}       
		{% else %}                       
				{% set mttap = app.request.get('mtta') %} 
		{% endif %}    

		{% if  app.request.get('mttde')|trim == null   %}   
				{% set mttde = 0 %}              
		{% else %}   
			   {% set mttde = app.request.get('mttde') %}  
		{% endif %}         

		{% if  app.request.get('datedeb')|trim == null   %}   
				{% set datedeb = 0 %}              
		{% else %}   
			   {% set datedeb = app.request.get('datedeb') %}  
		{% endif %}                  

		{% if  app.request.get('datefin')|trim == null   %}   
				{% set datefin = 0 %}              
		{% else %}   
			   {% set datefin = app.request.get('datefin') %}  
		{% endif %}                  

		{% if  app.request.get('compte')|trim == null   %}   
				{% set cpte = 0 %}              
		{% else %}                  
			   {% set cpte = app.request.get('compte') %}  
		{% endif %}
        
                {% if  app.request.get('sens')|trim == null   %}   
				{% set sens = 0 %}              
		{% else %}                  
			   {% set sens = app.request.get('sens') %}  
		{% endif %}       

	<div class="marginBottom20p">
		<form class="form-search-operation bgGrisatr1" action="{{ path("utb_client_detail_compte_abonne",{'idCompte':idCompte,'idAbonne':idAbonne,'post':1,'locale':locale}) }} " method="post"  id="ajoutImage" >
			
			<div> 
				<label class="labelLong">{{'operation.montantMin'|trans({},'recherche')}}</label> 
				<input name="mttde" class="montant" type="text" value="{{ mttde }}" /> 
				<label class="labelLong expLabel">{{'operation.montantMax'|trans({},'recherche')}}</label> 
				<input name="mtta" class="montant" type="text" value="{{ mttap }}" /> 
			</div> 
			<div>
				<label class="labelLong">{{'operation.sens'|trans({},'recherche')}}</label>
				<select name="sens">
                                         <option value=""  {% if post == 1 %}{% if sens|lower != "d" and sens|lower == "c" %} selected="selected" {% endif %}{% endif %}  class="choix" >{{'operation.tiret'|trans({},'recherche')}}</option>
					<option value="D" {% if sens|lower == "d" %} selected="selected" {% endif %}  class="choix" >{{'operation.debit'|trans({},'recherche')}}</option>
                                        <option value="C" {% if post == 1 %}{% if sens|lower == "c" %} selected="selected" {% endif %}{% endif %}  class="choix" >{{'operation.credit'|trans({},'recherche')}}</option>
				</select>
                                <input type="text" value="1" name="sidetailcpte" style="display: none">
				<input class="boutonSubmit" type="submit" value="{{'client.filtrer'|trans({},'messages') }}" />
				<div class="clr"></div>
			</div> 
		</form>
	</div>

	                
        <div class="result_recherch">
                           {#% if post==1 %}
                <h2 class="miniTitle title2 title-WithTopBar hover-title-WithTopBar">{{'operation.listeop'|trans({},'recherche')}} <div class="" style="float:right; font-size: 11px; margin-top: 5px;"><a style=" color: #0049ba;" href="{{ path("utb_client_recherche_operationabonne",{'locale':locale}) }}">{{'operation.autres'|trans({},'recherche') }}</a></div></h2>
               {% else %#}
                <h2 class="miniTitle title2 title-WithTopBar hover-title-WithTopBar">{{'operation.listeopmois'|trans({},'recherche')}} <div class="" style="float:right; font-size: 11px; margin-top: 5px;"><a style=" color: #0049ba;" href="{{ path("utb_client_recherche_operationabonne",{'locale':locale}) }}">{{'operation.autres'|trans({},'recherche') }}</a></div></h2>
               {#% endif %#}
                
				{# {'operation.resultat'|trans({},'recherche')} #}
                
        </div>
                
	<div class="marginBottom10p">  
             <form class="form-search-operation bgGrisatr1" style="border:none;" action="{{ path("utb_client_exporter_operationcompte",{'locale':locale,'cpte':idCompte,'deb':datedeb,'fin':datefin,'mttde':mttde,'mtta':mttap,'sens':sens,'type':post}) }} " method="post"  id="ajoutImage" target="_blank">
				<div class="printBut"> 
				{% if post==1 %}
				<a href="{{path('utb_client_exporter_operationcompte',{'locale':locale,'imprimer':1,'cpte':idCompte,'deb':datedeb,'fin':datefin,'mttde':mttde,'mtta':mttap,'sens':sens,'type':post})}}" target="_blank">
					{{'operation.imprimer'|trans({},'recherche')}}
				</a>
				{% else %}
				<a href="{{path('utb_client_exporter_operationcompte',{'locale':locale,'imprimer':1,'cpte':idCompte,'deb':datedeb,'fin':datefin,'mttde':mttde,'mtta':mttap,'sens':sens,'type':post})}}" target="_blank">
					{{'operation.imprimer'|trans({},'recherche')}}
				</a>
				{% endif %}
				</div>
		{#<form class="form-search-operation bgGrisatr1" action="{{ path("utb_client_recherche_operationadmin",{'locale':locale}) }} " method="post"  id="ajoutImage">#}
				<div class="downloadBut">
						<a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/client-img/icon-24-download.png')}}" alt="Télécharger" title="{{'compte.telecharge'|trans({},'compte') }}" />
						<span>{{'operation.telecharger'|trans({},'recherche')}} </a></span>
						<select name="typefichier">
							<option value="1" >EXCEL</option>
							<option value="2" >CSV</option>

							<option value="3" >TXT</option>
							<option value="4" >PDF</option>
						</select>
						<input type="submit" value="OK" id="j_bouton" style="display: none"/>
						<div class="clr"></div>
                                                
				</div>
                
               </form>
		<div class="clr"></div>
            
	</div>
                
		<table class="withTDborder tableBleuCiel">
			<tr>
				<th><input type="checkbox" class="checkall" name="checkall" /></th>                        
				<th>{{'operation.dateop'|trans({}, 'recherche')}}</th>
				{#<th>{{'operation.dateval'|trans({}, 'recherche')}}</th>#}
				<th>{{'operation.libop'|trans({}, 'recherche')}}</th>
                                <th style="text-align: right;">{{'operation.mttdebit'|trans({}, 'recherche')}}</th>
				<th style="text-align: right;">{{'operation.mttcredit'|trans({}, 'recherche')}}</th>
                                <th style="text-align: right;">{{'operation.soldeligne'|trans({}, 'recherche')}}</th>
                                <th>{#{'operation.actions'|trans({}, 'recherche')}#}</th>
			</tr>	
                    {% if current_page == 1 %} 
                        {% if soldedeb|length >0  %}
                                <tr class="soldes">     
                                    <td> <input type="checkbox" name="operation[]"  rel="operation_c" value="0" /> </td>
                                    <td> {{ soldedeb[0]['dateSolde']|date("d/m/Y") }} </td> 
                                    <td> 
                                      SOLDE DEBUT PERIODE
                                    </td>                                                             
                                    <td style="text-align: right;"> 
                                         {#% if soldedeb[0]['sens']|lower == 'd' %}                                                                                                                       
                                            {{soldedeb[0]['solde']|number_format(0, '', ' ')}}
                                         {% endif %#}                                                      
                                    </td> 
                                    <td style="text-align: right;"> 
                                         {#% if soldedeb[0]['sens']|lower == 'c' %}                                                                                                                       
                                            {{soldedeb[0]['solde']|number_format(0, '', ' ')}}
                                         {% endif %#}  
                                    </td> 
                                    <td style="text-align: right;"> 
                                         {% if soldedeb[0]['sens']|lower == 'c' %}                                                                                                                       
                                         {% else %}                                                                
                                            -
                                         {% endif %}                                                                  
                                         {{soldedeb[0]['solde']|number_format(0, '', ' ')}}                                                                   
                                    </td> 
                                    <td> </td>                                                            
                                </tr>
                        {% endif %} 
                    {% endif %}
                    {#{dump(listeOperation)}#}            
                    {% for operation in listeOperation %} 
                        
                               {% if operation.codOperation =='01'  and post == 1 %}
                               {% elseif operation.codOperation =='07'  and post == 1 %}
                               {% elseif operation.codOperation =='04' %}
						<tr {% if operation.codOperation == '01' or operation.codOperation == '07' %}  class="soldes" {% endif %}>{# {% if loop.index is odd %}  class="bgGris" {% else %} class="bgBlanc"  {% endif %} #}
							<td> <input type="checkbox" name="operation[]"  rel="operation_c" value="{{operation.id}}" /> </td>
							<td> {{operation.dateOperation|date("d/m/Y") }} </td> 
							{#<td> 
                                                           {% if operation.dateValeur|date('Y')|trim =='-0001' %}                                                             
                                                           {% else %}     
                                                             {{operation.dateValeur|date("d/m/Y") }} 
                                                           {% endif %}      
                                                        </td> #}
							<td> 
                                                            {% if operation.codOperation == '01' %}
                                                                SOLDE DEBUT 
                                                            {% elseif operation.codOperation == '07' %}
                                                                SOLDE FIN
                                                             {% else %}
                                                                {{operation.libOperation|raw }}
                                                             {% endif %}
                                                        </td> 
                                                        <td style="text-align: right;">
							 {% if operation.sensOperation == 'D' %}
								{{operation.montant|number_format(0, '', ' ') }}
							 {% else %}
							 {% endif %}
							</td>
							<td style="text-align: right;">
							 {% if operation.sensOperation == 'C' %}
								{{operation.montant|number_format(0, '', ' ') }}
							 {% else %}
							 {% endif %}
							</td>
                                                        <td class="titreList" style="text-align: right; font-weight: bold;">
                                                            {% if operation.soldeEnLigne != 0 %}
                                                             {{operation.soldeEnLigne|number_format(0, '', ' ') }} 
                                                            {% endif %}    
                                                        </td> 
							
                                                        <td class="titreList" style="text-align: right;">
                                    <div id="basic-modal">
                                        {% if operation.codOperation == '01' or operation.codOperation == '07' %}
                                        {% else %}							
                                            <a href="#" onClick="ouvrirdetail({{operation.id}});" class="basic"><img src='{{ asset('img/client-img/icon-25-magnifying-glass.png')}}' alt='' /></a>
                                        {% endif %}
                                    </div>
                                    <div id="{{"basic-modal-content"~operation.id}}" class="basic-modal-content"> 
                                        <h3>{{'compte.operations.detailop'|trans({}, 'compte')}}</h3>
                                        <div class="ligne">
                                            <div class="part1">{{'compte.operations.compte'|trans({}, 'compte')}} :</div> <div class="part2">{{operation.numeroCompte|raw }}</div>
                                            <div class="clr"></div>
                                        </div>
                                        <div class="ligne">
                                            <div class="part1">{{'compte.operations.libelop'|trans({}, 'compte')}} :</div> 
                                            <div class="part2">
                                                {% if operation.codOperation == '01' %}
                                                    SOLDE DEBUT 
                                                {% elseif operation.codOperation == '07' %}
                                                    SOLDE FIN
                                                 {% else %}
                                                    {{operation.libOperation|raw }}
                                                 {% endif %}
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                        <div class="ligne">
                                            <div class="part1">
                                                {{'compte.operations.montant'|trans({}, 'compte')}} {% if operation.sensOperation == 'C' %}({{'compte.operations.credit'|trans({}, 'compte')}}) :{% elseif operation.sensOperation == 'D'  %}({{'compte.operations.debit'|trans({}, 'compte')}}) :{% endif %}                                                
                                            </div>
                                            <div class="part2" style="text-align: right;">
                                                {% if operation.sensOperation == 'C' %}{{operation.montant|number_format(0, '', ' ') }}{% elseif operation.sensOperation == 'D'  %}{{operation.montant|number_format(0, '', ' ') }}{% endif %}  
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                        <div class="ligne">
                                            <div class="part1">{{'compte.operations.nummouv'|trans({}, 'compte')}} :</div> <div class="part2">{{operation.numeroMvt }}</div>
                                            <div class="clr"></div>
                                        </div>
                                        <div class="ligne">
                                            <div class="part1">{{'compte.operations.dateop'|trans({}, 'compte')}} :</div> <div class="part2">{{operation.dateOperation|date("d/m/Y") }}</div>
                                            <div class="clr"></div>
                                        </div>
                                        <div class="ligne">
                                            <div class="part1">{{'compte.operations.dateval'|trans({}, 'compte')}} :</div> 
                                            <div class="part2">
                                                {% if operation.dateValeur|date('Y')|trim =='-0001' %} 
                                                    ---
                                                {% else %}     
                                                  {{operation.dateValeur|date("d/m/Y") }} 
                                                {% endif %}
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                        <div class="ligne">
                                            <div class="part1">{{'operation.soldeligne'|trans({}, 'recherche')}} :</div> 
                                            <div class="part2">
                                             {% if operation.soldeEnLigne != 0 %}
                                                             {{operation.soldeEnLigne|number_format(0, '', ' ') }} 
                                                            {% endif %}    
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                    <!-- preload the images -->
                                    <div style='display:none'>
                                         <img src='{{ asset('img/client-img/x.png')}}' alt='' />
                                    </div>
                                </td>
						</tr>
                     {% endif %}
                    {% else %}
                             <tr>
                               <td colspan="6" class="center">{{ 'operation.operation.none'|trans({}, 'recherche') }} </td>       
                             </tr>       
                    {% endfor %}  
                    
                    {% if current_page == last_page %}        
                        {% if soldefin|length >0  %}
                                <tr class="soldes">           
                                    <td> <input type="checkbox" name="operation[]"  rel="operation_c" value="0" /> </td>
                                    <td> {{ soldefin[0]['dateSolde']|date("d/m/Y") }} </td> 
                                    <td> 
                                      SOLDE FIN PERIODE
                                    </td>                                                             
                                    <td style="text-align: right;"> 
                                         {#% if soldefin[0]['sens']|lower == 'd' %}                                                                                                                       
                                            {{soldefin[0]['solde']|number_format(0, '', ' ')}}
                                         {% endif %#}                                                      
                                    </td> 
                                    <td style="text-align: right;"> 
                                         {#% if soldefin[0]['sens']|lower == 'c' %}                                                                                                                       
                                            {{soldefin[0]['solde']|number_format(0, '', ' ')}}
                                         {% endif %#}  
                                    </td> 
                                    <td style="text-align: right;" > 
                                         {% if soldefin[0]['sens']|lower == 'c' %}                                                                                                                       
                                         {% else %}                                                                
                                            -
                                         {% endif %}                                                                  
                                         {{soldefin[0]['solde']|number_format(0, '', ' ')}}                                                                   
                                    </td> 
                                    <td> </td>                                                            
                                </tr>
                        {% endif %}       
                    {% endif %}        
                                 
                             
                        {#% if tablo|length >0 and post == 0 %}
                        <tr class="soldes"> 
							<td> <input type="checkbox" name="operation[]"  rel="operation_c" value="0" /> </td>
							<td> {{ tablo[0]['dateSolde']|date("d/m/Y") }} </td> 
							<td> 
                                                          SOLDE DEBUT PERIODE
                                                        </td> 
                                                        <td style="text-align: right;">
                                                            {% if tablo[0]['sens']|lower == 'd' %}
                                                                {{tablo[0]['solde']|number_format(0, '', ' ')}}
                                                            {% else %}
                                                                
                                                            {% endif %}    
							</td>
							<td style="text-align: right;">
                                                            {% if tablo[0]['sens']|lower == 'c' %}
                                                                {{tablo[0]['solde']|number_format(0, '', ' ')}}
                                                            {% else %}                                                                
                                                            {% endif %} 
							</td>
							<td> 
                                                         
                                                        </td> 							
                                                        <td class="titreList">
                                    
                                    <div style='display:none'>
                                         <img src='{{ asset('img/client-img/x.png')}}' alt='' />
                                    </div>
                                </td>
			</tr>
                        {% endif %#}     
                </table> 
			
			
               <div class="page center">

                    {% if last_page > 1 %}
                        <div class="paginationTry">

                              <a href="{{ path('utb_client_detail_compte_abonne', { 'page': 1,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne,'post':1,'deb':datedeb,'fin':datefin,'mtta':mttap,'mttde':mttde,'sens':sens, }) }}"> <span> << </span> </a> 
                              <a href="{{ path('utb_client_detail_compte_abonne', { 'page': previous_page,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne,'post':1,'deb':datedeb,'fin':datefin,'mtta':mttap,'mttde':mttde,'sens':sens,}) }}"> <span> {{ 'admin.precedent'|trans}} </span> </a>
                              {% for page in 1..last_page %}
                                    {% if page == current_page %}
                                    <span class="pagination_active">{{ page }}</span>
                                    {% else %}
                                    <span><a href="{{ path('utb_client_detail_compte_abonne', { 'page': page,'idCompte':idCompte,'idAbonne':idAbonne,'post':1,'deb':datedeb,'fin':datefin,'mtta':mttap,'mttde':mttde,'sens':sens,}) }}">{{ page }}</a></span>
                                    {% endif %}
                              {% endfor %}
                              <a href="{{ path('utb_client_detail_compte_abonne', { 'page': next_page,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne,'post':1,'deb':datedeb,'fin':datefin,'mtta':mttap,'mttde':mttde,'sens':sens, }) }}"> <span> {{ 'admin.suivant'|trans}} </span> </a>
                              <a href="{{ path('utb_client_detail_compte_abonne', { 'page': last_page,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne,'post':1,'deb':datedeb,'fin':datefin,'mtta':mttap,'mttde':mttde,'sens':sens,}) }}"> <span> >> </span></a>

                        </div>
                     {% endif %}
                      <br/>    
                    <div class="pagination_desc">
                       <center>
                           <strong>{{ total }}</strong> {{ 'operation.trouve'|trans({}, 'recherche') }}
                           {% if last_page > 1 %} - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}
                       </center>
                    </div>
					<h2 class="miniTitle title2"><div class="" style="float:right; font-size: 11px; margin-top: 5px;"><a style=" color: #0049ba;" href="{{ path("utb_client_recherche_operationabonne",{'locale':locale}) }}">{{'operation.autres'|trans({},'recherche') }}</a></div></h2>

                </div>
				                
					
		{#			
                            <div class="FrmAjoutArt FrmTopDetailArt FrmAbonneIn" id="modifFicheAbonne_container" style="display:none;">
                                    <div class="FrmAbonneIn2">
                                        {{ render(controller('utbClientBundle:Abonne:modifSuivantType', {'id': abonne.id,'locale':locale,'type':2})) }}  
                                    <div class="clr"></div></div>
                                    <div class="noEffectBack"><a href="#" onClick="AnnulerFicheAbonne(); return false;">{{'admin.annuler'|trans}}</a></div>
                                    <div class="clr"></div>
                            </div> 
                            <div class="FrmAjoutArt FrmTopDetailArt FrmAbonneIn" id="modifPwd_container" style="display:none;">
                                    <div class="FrmAbonneIn2">
                                        {{ render(controller('utbClientBundle:Abonne:modifSuivantType', {'id': abonne.id,'locale':locale,'type':1})) }}  
                                    <div class="clr"></div></div>
                                    <div class="noEffectBack"><a href="#" class="" onClick="AnnulerPwd(); return false;">{{'admin.annuler'|trans}}</a></div>
                                    <div class="clr"></div>
                            </div>                                                             
                    {% if type_user == "abonne" %} 		
                             <table class="listMenusCateg listArticlesRub">
                                        <tr>
                                                <th><input type="checkbox" class="checkall" name="checkall" /></th>

                                                <th>{{'chargement.numcpt'|trans({}, 'chargement')}}</th>
                                                <th>{{'chargement.typecpte'|trans({}, 'chargement')}}</th>
                                                <th>{{'chargement.libop'|trans({}, 'chargement')}}</th>
                                                <th>{{'chargement.mtt'|trans({}, 'chargement')}}</th>
                                                <th>{{'chargement.dateval'|trans({}, 'chargement')}}</th>
                                                <th>{{'chargement.dateop'|trans({}, 'chargement')}}</th>
                                        </tr>	

                                        {% for operation in listeOperation %} 
                                                <tr {% if loop.index is odd %}  class="bgGris" {% else %} class="bgBlanc"  {% endif %} >
                                                        <td class="statutArtList"> <input type="checkbox" name="operation[]"  rel="operation_c" value="{{operation.id}}" /> </td>

                                                        <td> {{operation.numeroCompte|raw }} </td> 
                                                        <td> {{operation.libTypeCompte|raw }} </td> 
                                                        <td> {{operation.libOperation|raw }} </td> 
                                                        <td> {{operation.montant|raw }} </td>
                                                        <td> {{operation.dateValeur|date("d/m/Y") }} </td> 
                                                        <td> {{operation.dateOperation|date("d/m/Y") }} </td>

                                                </tr>
                                        {% else %}
                                                 <tr>
                                                   <td colspan="4">{{ 'chargement.operation.none'|trans({}, 'chargement') }} </td>       
                                                 </tr>       
                                        {% endfor %}                                                                                                       
                            </table>  
                
                            <div class="page center">

                                {% if last_page > 1 %}
                                    <div class="paginationTry">

                                          <a href="{{ path('utb_client_detail_compte_abonne', { 'page': 1,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne }) }}"> <span> << </span> </a> 
                                          <a href="{{ path('utb_client_detail_compte_abonne', { 'page': previous_page,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne}) }}"> <span> {{ 'admin.precedent'|trans}} </span> </a>
                                          {% for page in 1..last_page %}
                                                {% if page == current_page %}
                                                <span>{{ page }}</span>
                                                {% else %}
                                                <span><a href="{{ path('utb_client_detail_compte_abonne', { 'page': page,'idCompte':idCompte,'idAbonne':idAbonne}) }}">{{ page }}</a></span>
                                                {% endif %}
                                          {% endfor %}
                                          <a href="{{ path('utb_client_detail_compte_abonne', { 'page': next_page,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne }) }}"> <span> {{ 'admin.suivant'|trans}} </span> </a>
                                          <a href="{{ path('utb_client_detail_compte_abonne', { 'page': last_page,'locale':locale,'idCompte':idCompte,'idAbonne':idAbonne}) }}"> <span> >> </span></a>

                                      </div>
                                 {% endif %}
                                  <br/>    
                                <div class="pagination_desc">
                                   <center>
                                       <strong>{{ total }}</strong> {{ 'operation.trouve'|trans({}, 'recherche') }}
                                       {% if last_page > 1 %} - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}
                                   </center>
                                </div>

                            </div>


                            <table class="listMenusCateg listArticlesRub">
                                        <tr>
                                                <th><input type="checkbox" class="checkall" name="checkall" /></th>

                                                <th>{{'chargement.numcpt'|trans({}, 'chargement')}}</th>
                                                <th>{{'chargement.typecpte'|trans({}, 'chargement')}}</th>
                                                <th>{{'chargement.libop'|trans({}, 'chargement')}}</th>

                                        </tr>	

                                        {% for unsolde in listeSolde %} 
                                                <tr {% if loop.index is odd %}  class="bgGris" {% else %} class="bgBlanc"  {% endif %} >
                                                        <td class="statutArtList"> <input type="checkbox" name="operation[]"  rel="operation_c" value="{{unsolde.id}}" /> </td>

                                                        <td> {{unsolde.numeroCompte|raw }} </td> 
                                                        <td> {{unsolde.solde|raw }} </td>
                                                        {% if unsolde.solde > 0 %}
                                                           <td> + </td> 
                                                        {% else %}
                                                           <td> - </td>
                                                        {% endif %}
                                                </tr>
                                        {% else %}
                                                 <tr>
                                                   <td colspan="4">{{ 'chargement.operation.none'|trans({}, 'chargement') }} </td>       
                                                 </tr>       
                                        {% endfor %}                                                                                                       
                           </table>                                       
           {% endif %}
                #}
			<!-- FIN colRightContentPadding-->
					<!--  FIN SPAN - 25 -->

  {% endfor %}
        <script type="text/javascript">
            
            function ouvrirdetail(id){
        
		$('#basic-modal-content'+id).modal();
		return false;	
            }
            
            $(".montant").numeric();
	</script>
  {% endblock %}
  
