<style>
    html div{font-family: 'DejaVu Sans', serif; }

    div#boxEntete div.logo{width: 100%;border-top: 1px solid #0049ba;border-bottom: 1px solid #0049ba;padding-top: 4px; padding-bottom: 4px;margin-top:8px;}
    div#boxEntete div.logo h1{padding: 0px; margin: 0px;font-family:helvetica;color: #0049ba;font-size: 10px;}
    div#boxEntete div.logo h1 img{width: 75%;}

    div#boxEntete .mentionsLegales{width: 100%;border-bottom: 1px solid #0049ba;padding-top: 4px; padding-bottom: 4px;margin-top:0px;font-size:11px;text-align: center;}

    div.infosClient{margin-bottom: 10px; font-size: 12px;}
    div.infosClient ul{list-style: none;margin: 0px;margin-top: 0px;margin-left: -35px;}

    .page{margin-top:10px;margin-bottom:0px; width:100%;font-size: 14px;margin-left: 5px;}

    table.tabloReleve{width:100%;text-align: left;font-size: 10px; margin-bottom: 0px;}
    table.tabloReleve td, table.tabloReleve th{border: 1px solid #555; padding: 3px;}
    table.tabloReleve th{background: #555; color: #fff;}
    .center{text-align: center;}
    .droite{text-align: right;}
    .footer{border-top: 2px solid #555;width:100%;margin-top: 20px;}
</style>

{% for uneOp in listeOperation %}

    {% set debindex = loop.index %} 
    {% set deblast = loop.last %} 


    <div id="boxEntete">
        <div class="logo">
            <h1> 
                <img src="{{lien}}{{asset('img/client-img/logo_utb_mini.jpg')}}" alt="" >
            </h1>
        </div>
        <div class="mentionsLegales">
            <div>{{ 'client.aptitresa2'|trans({}, 'messages') }}</div> 
            <div>{{ 'client.aptitresa3'|trans({}, 'messages') }}</div>
        </div>
    </div>

        <div style="margin-top:10px;margin-bottom:10px;"> 
         <h3 style="font-size: 13px;"><strong> {{ 'operation.listoperation'|trans({}, 'recherche') }} {{numeroCompte}}  (Page {{loop.index}}/{{listeOperation|length}} )</strong> </h3> 
        </div> <!-- Fin bande 2 -->              
 
    
            <style>
                table td{font-size:9px;}
                table th{font-size:11px;}
                th,td{vertical-align: middle;}
            </style>
            
            {#
            <table lass="tabloReleve" >
              <thead>
                  <tr>
                        <th>
                            {{'compte.date'|trans({},'compte') }}
                        </th>
                        
                        <th>
                            {{'compte.operations.libelle'|trans({},'compte')|upper }}
                        </th>
                        
                        <th>
                            {{'compte.valeur'|trans({},'compte') }}
                        </th>                        
                        
                        <th>
                            {{'compte.debit'|trans({},'compte') }}
                        </th>
                        <th>
                            {{'compte.credit'|trans({},'compte') }}
                        </th>
                        
                        <th>
                            {{'compte.operations.nummvt'|trans({},'compte')|upper }}
                        </th>
                        
                        <th>
                            {{'compte.releves.solde'|trans({},'compte')|upper }}
                        </th>
                  </tr>
                </thead>
                    
                   {% if soldedeb|length >0  %}
                    <tr>
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right;"> {{ soldedeb[0]['dateSolde']|date("d/m/Y") }} </td> 
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px;text-align: left; "> SOLDE DEBUT PERIODE </td>
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right;"> </td>  
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; "> </td>
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; ">  </td>
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right;"> </td> 
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; font-weight: bold;">                         
                            {% if soldedeb[0]['sens']|lower == 'd' %}                                                               
                               -
                            {% endif %}                                                                  
                            {{soldedeb[0]['solde']|number_format(0, '', ' ')}}                         
                        </td>
                   </tr>
                  {% endif %} 
                    
                  {% for operation in uneOp %}
                    {% if (operation.codOperation is defined) and (operation.codOperation =='04') %}
                    <tr>
                          <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; width: 38px; text-align: right; "> {{operation.dateOperation|date("d/m/Y")|datelangue(locale) }} </td> 
                          <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px;text-align: left; width: 190px; "> 
                                  {{operation.libOperation|trim}} 
                          </td> 
                          <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; width: 38px; text-align: right;"> 
                              {% if operation.dateValeur|date("d/m/Y")|slice(6,1) != '-' %}
                                  {{operation.dateValeur|date("d/m/Y")|datelangue(locale) }} 
                              {% endif %}
                          </td> 


                          <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; width: 90px; ">
                           {% if operation.sensOperation|upper  == 'D' %}
                              {{(operation.montant)|number_format(0, '', ' ')|wordwrap(16, "\n", true) }}
                           {% else %}                        
                           {% endif %}
                          </td>
                          <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; width: 90px;">
                           {% if operation.sensOperation|upper == 'C' %}
                              {{(operation.montant)|number_format(0, '', ' ')|wordwrap(16, "\n", true) }}
                           {% else %}                        
                           {% endif %}
                          </td>
                          <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; width: 50px; text-align: right; "> {{operation.numeroMvt|trim }} </td> 
                          <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; font-weight: bold; width: 90px;">

                              {{(operation.soldeEnLigne)|number_format(0, '', ' ')|wordwrap(16, "\n", true) }}

                          </td>
                     </tr>
                     {% endif %}
                   {% endfor %}
                  
                   {% if soldefin|length >0  %}
                    <tr>
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; width: 38px;text-align: right;"> {{ soldefin[0]['dateSolde']|date("d/m/Y") }} </td> 
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px;text-align: left; width: 190px; "> SOLDE FIN PERIODE </td> 
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; width: 38px; text-align: right;"> </td>    
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; width: 90px;"> </td>
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; width: 90px;">  </td>
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; width: 50px; text-align: right;"> </td> 
                        <td style="border: 1px solid #ccc;padding-left: 5px;padding:5px; text-align: right; font-weight: bold; width: 90px;">                         
                            {% if soldefin[0]['sens']|lower == 'c' %}                                                                                                                       
                            {% else %}                                                                
                               -
                            {% endif %}                                                                  
                            {{soldefin[0]['solde']|number_format(0, '', ' ')}}                         
                        </td>
                   </tr>
                  {% endif %} 
                   
 
            </table> #}
            
     <div  style=" width: 100%;">

        {% if uneOp is defined and uneOp!= null and uneOp|length>0 %}    
        
            <table class="tabloReleve">                    
                <thead>
                    <tr>   
                        <th>{{'compte.date'|trans({},'compte') }}</th>
                        <th>{{'compte.operations.libelle'|trans({},'compte') }}</th>
                        <th>{{'compte.valeur'|trans({},'compte') }}</th>
                        <th>{{'compte.debit'|trans({},'compte') }}</th>
                        <th>{{'compte.credit'|trans({},'compte') }}</th>
                        <th>{{'compte.operations.nummvt'|trans({},'compte')|upper }}</th>
                        <th>{{'operation.soldeligne2'|trans({}, 'recherche')|upper}}</th>
                    </tr>                 
                </thead>  

                {% for operation in uneOp %}                        


                    {% if (operation.codOperation is defined) and (operation.codOperation!=null) and (operation.codOperation|trim == '07') %}
                        {% set sens07 = operation.sensOperation|lower %}  
                        {% set solde07 = operation.montant %} 
                    {% endif %}                     


                    {% if (operation.codOperation is defined) and (operation.codOperation!=null) and  (operation.codOperation|trim == '04') %}                             


                        {#% if operation.sensOperation|lower == 'd' %}
                            {% set montantdebit = montantdebit + operation.montant %}
                        {% else%} {% set montantdebit = montantdebit + 0%} {% endif %} 

                        {% if operation.sensOperation|lower == 'c' %}
                            {% set montantcredit = montantcredit + operation.montant %}
                        {% else %} {% set montantcredit = montantcredit + 0 %} {% endif %#} 


                        <tr {% if loop.index is odd %}  class="bgGris" {% else %} class="bgBlanc"  {% endif %} >
                            <td> {{operation.dateOperation|date("d/m/Y")|datelangue(locale) }} </td>                                 
                            <td> {{operation.libOperation|raw }}</td> 
                            <td> 
                                {% if operation.dateValeur|date("d/m/Y")|slice(6,1) != '-' %}
                                    {{operation.dateValeur|date("d/m/Y")|datelangue(locale) }} 
                                {% endif %}
                            </td>
                            <td class="droite">
                                {% if operation.sensOperation|lower == 'd' %} {{(operation.montant)|number_format(0, '', ' ') }} {% endif %}                                 
                            </td>
                            <td class="droite">
                                {% if operation.sensOperation|lower == 'c' %} {{(operation.montant)|number_format(0, '', ' ') }} {% endif %}
                            </td>
                            <td>
                                {% if operation.numeroMvt != "" %} {{operation.numeroMvt}} {% endif %}
                            </td>
                            <td class="droite">
                                {% if operation.soldeEnLigne != 0 %}
                                    {{operation.soldeEnLigne|number_format(0, '', ' ') }} 
                                {% endif %}   
                            </td>
                        </tr>                            
                    {% endif %} 

                {% endfor %}  
                       
                {% if  debindex == deblast and soldefin[0] is defined and soldefin[0].sens!='' and soldefin[0] != null and (soldefin is defined and soldefin !=null and soldefin|length > 0) %}
                    <tr>
                        <td colspan="3" class="center">
                            
                            {% if soldefin[0] is defined and soldefin[0].sens|lower == 'd' %}
                                <strong> {{'compte.releves.soldedeb'|trans({},'compte')|upper}} </strong> 
                                {{soldefin[0].dateSolde|date('d/m/Y')}}  
                            {% elseif soldefin[0] is defined and soldefin[0].sens|lower == 'c' %}
                                <strong> {{'compte.releves.soldecred'|trans({},'compte')|upper}} </strong>
                                {{soldefin[0].dateSolde|date('d/m/Y')}}
                            {% endif %}                                
                        </td> 
                        <td> </td> 
                        <td> </td> 
                        <td> </td>    
                        <td class="droite">
                            {% if soldefin[0].sens|lower == 'd' %} <strong> -{{soldefin[0].solde|number_format(0, '', ' ') }} </strong> {% endif  %} 
                            {% if soldefin[0].sens|lower == 'c' %} <strong>{{soldefin[0].solde|number_format(0, '', ' ') }} </strong> {% endif %}
                        </td>

                    </tr>                
                {% endif %}                     

            </table> 
        {% endif %} 
    </div>   
{% endfor %}
