{# src/utb/SiteBundle/Resources/views/layoutSite.html.twig #}
{% extends "utbSiteBundle::layoutSite.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

  {% block public_body %}						
<div class="span-24 borderBotStyle bgBlanc marginBottom10p">                    
    <div class="leftSpace rightSpace"> 
        <h1 class="boxSection-titre title-WithLeftBar bleuLogo">Nos services</h1>  
    </div>


    

        <div class="leftSpace rightSpace">                                       
            
            <h2 class="title2">Retrouvez ici nos différents services</h2>
            <!-- FIN typesCartesBq listItem1-->
        </div>
   





    <div class="span-12   ">  
        <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
            <h2 class="listItem3 title1"><a class="" href="http://localhost/utbRefonte.git/web/app_dev.php/article/20">UTB &amp; CEET</a></h2>
            <div class="typesCartesBq listItem1">
                <div class="boxilustrC">
                    <img src="{{ asset('upload/rubriques/1652738333524abb77198859.64892054.png')}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:10px; margin-left: 25px; float:left;"> 
                </div>
                <div class="boxdescrptC">
                    <p>Avec UTB, la CEET se rapproche de sa clientèle.
                        Depuis quelques années déjà, les factures d’électricité sont payables à tous les guichets de l’UTB.
                    </p>



                </div>
                <div class="clr"></div>
            </div>	<!-- FIN typesCartesBq listItem1-->
        </div>                             
    </div> 





    <div class="span-12  last   ">  
        <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
            <h2 class="listItem3 title1"><a class="" href="http://localhost/utbRefonte.git/web/app_dev.php/article/21">Conseil &amp; assistance aux entreprises</a></h2>
            <div class="typesCartesBq listItem1">
                <div class="boxilustrC">
                    <img src="{{ asset('upload/rubriques/899500860524ab8e5bd79a7.97163480.png')}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:10px; margin-left: 25px; float:left;"> 
                </div>
                <div class="boxdescrptC">
                    <p>Un engagement et un accompagnement sans cesse renouvelés,  Un service toujours disponible
                    </p>





                </div>
                <div class="clr"></div>
            </div>	<!-- FIN typesCartesBq listItem1-->
        </div>                             
    </div> 





    <div class="span-12   ">  
        <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
            <h2 class="listItem3 title1"><a class="" href="http://localhost/utbRefonte.git/web/app_dev.php/article/22">Service de guichets</a></h2>
            <div class="typesCartesBq listItem1">
                <div class="boxilustrC">
                    <img src="{{ asset('upload/rubriques/1094262082524abcffeff433.17544268.png')}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:10px; float:left; margin-left: 25px;"> 
                </div>
                <div class="boxdescrptC">
                    <p>A ce jour, 42 points de vente sont installés dans tout le pays pour se rapprocher de vous. Une équipe dynamique vous accueille à nos guichets pour vous satisfaire :</p>

                    <div>
                        <ul>
                            <li><em>Remise de chèque</em></li>
                            <li><em>Certification de chèque</em></li>
                            <li><em>Versement</em></li>
                            <li><em>Retrait de fonds</em></li>
                            <li><em>Position</em></li>
                            <li><em>Délivrance de chéquier </em></li>
                        </ul>
                    </div>

                </div>
                <div class="clr"></div>
            </div>	<!-- FIN typesCartesBq listItem1-->
        </div>                             
    </div> 





    <div class="span-12  last   ">  
        <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
            <h2 class="listItem3 title1"><a class="" href="http://localhost/utbRefonte.git/web/app_dev.php/article/23">Ramassage de fonds</a></h2>
            <div class="typesCartesBq listItem1">
                <div class="boxilustrC">
                    <img src="{{ asset('upload/rubriques/373522133524abdb2150182.18620642.png')}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:10px; float:left; margin-left: 25px;"> 
                </div>
                <div class="boxdescrptC">
                    <p>Pour optimiser et sécuriser la manipulation du cash et son transport « vers » ou « depuis » la banque, UTB vous propose le ramassage de fonds. C’est un service qui vous permet de sécuriser vos transactions et de réduire les charges liées au transport des fonds.</p>

                    <br><p>UTB fait appel à des prestataires de services externes hautement qualifiés pour vous assurer le ramassage et le transport de fonds (cash et valeurs) ainsi que le service d’alimentation de votre entreprise en fonds.</p>



                </div>
                <div class="clr"></div>
            </div>	<!-- FIN typesCartesBq listItem1-->
        </div>                             
    </div> 
    <div class="span-12   ">  
        <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
            <h2 class="listItem3 title1"><a class="" href="http://localhost/utbRefonte.git/web/app_dev.php/article/22">Location de coffres forts</a></h2>
            <div class="typesCartesBq listItem1">
                <div class="boxilustrC">
                    <img src="{{ asset('upload/rubriques/1585183031524abc260ed1c8.32936310.png')}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:10px; float:left; margin-left: 25px;"> 
                </div>
                <div class="boxdescrptC">
                    <p>Vous désirez mettre vos biens précieux à l’abri, alors souscrivez à notre service : location de coffre-fort. UTB met à votre disposition un coffre-fort à l’agence circulaire où vous placerez en toute confidentialité vos objets de valeur et vos documents.</p>
                    <br>
                    <p>L’accès au coffre-fort est parfaitement sécurisé puisque vous seul détenez l’exemplaire unique de la clé de votre coffre.</p>


                </div>
                <div class="clr"></div>
                
            </div>	<!-- FIN typesCartesBq listItem1-->
        </div>                             
    </div> 





    <div class="span-12  last   ">  
        <div class="leftSpace paddingTopBot20p bgSeparate" style="padding-right:20px;">                                       
            <h2 class="listItem3 title1"><a class="" href="http://localhost/utbRefonte.git/web/app_dev.php/article/23">Western Union</a></h2>
            <div class="typesCartesBq listItem1">
                <div class="boxilustrC">
                    <img src="{{ asset('upload/rubriques/1710614757524ab88c9fd561.75502059.png')}}" alt="Image Illustrative" title="Image Illustrative" style="margin-top:10px; margin-left: 25px; float:left;"> 
                </div>
                <div class="boxdescrptC">
                    <p>Touristes et étudiants
                        Vous voyagez très souvent ou vous suivez des études hors de votre pays, vous avez donc besoin d'envoyer et de recevoir de l'argent, Western Union vous rend service.

                        Travailleurs a l'étranger
                        Vous émigrez pour des raisons professionnelles et vous devez subvenir aux besoins de votre famille restée au pays. Western Union vous donne la solution.

                        Hommes d'affaires / commerçants
                        Vous développez des affaires hors de vos frontières, Vous avez besoin d'envoyer et de recevoir des fonds, Western Union vous est destiné.
                    </p>

                </div>
                <div class="clr"></div>
                
            </div>	<!-- FIN typesCartesBq listItem1-->
        </div>                             
    </div> 
   


</div>      


<div class="span-24 marginBottom20p"> 
    <div class="leftSpace rightSpace boxCorespdant">
        <h1 class="boxSection-titre gris-text">Correspondants</h1><div class="mhr"><hr></div><div class="clr"></div>
        <div class="slideCorespdant">
                          {# {% for article in listecorrespondance%} 
                                 {% if article.urlMedia != "default_.png" %}
                                        <img src="{{ asset('upload/articles/'~article.urlMedia)}}" alt="" title="" />
                                 {% endif %}                                				
                            {% endfor %}  #}  
            <span><img src="{{ asset('img/site-img/correspHomePage/societe-generale.png')}}" alt="" title="" /></span>
            <span><img src="{{ asset('img/site-img/correspHomePage/credit-agricole.png')}}" alt="" title="" /></span>
            <span><img src="{{ asset('img/site-img/correspHomePage/fortis-bank.png')}}" alt="" title="" /></span>
            <span><img src="{{ asset('img/site-img/correspHomePage/citibank.png')}}" alt="" title="" /></span>
            <span><img src="{{ asset('img/site-img/correspHomePage/abn-amro.png')}}" alt="" title="" /></span>
            <span><img src="{{ asset('img/site-img/correspHomePage/natixis.png')}}" alt="" title="" /></span>				
        </div>
        <div class="divButmoore" style="text-align:right;">

            <a class="btmoore coinsArrondis " href="{{ path("utb_site_rubrique",{'locale': locale,'id': 9, 'type':8,'typecate': 0, 'date':0})}}"><span>Voir tous nos correspondants</span><span></span></a>
        </div>			
    </div>
</div>		<!-- FIN Correspondants-->
  {% endblock %}

