{% extends "utbClientBundle::layoutClient.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}	
				
{% block client_centre_body %} 
    <ul class="filariane bleuLink">
            <li><a href="{{ path("utb_client_accueil",{'locale':locale,'typePre':1}) }}"><img src="{{ asset('img/client-img/pointer.png')}}" alt="" />{{'client.tb.titre'|trans({},'messages') }}</a></li>
            <li><img src="{{ asset('img/client-img/icon-rightdirect.png')}}" alt="" /></li>
            <li>{{'fond.titre'|trans({},'fond')}}</li>
    </ul>
    <h2 class="miniTitle title2 title-WithTopBar hover-title-WithTopBar">{{'fond.titre'|trans({},'fond')}}</h2>

        
        <div  id="contenu_onglet_write">
            <h5><span class='red-text'>*</span>{{'client.obligatoire'|trans({},'messages')}}</h5>
           
            <form action=" {{ path("utb_client_ajoutfonds",{'locale':locale}) }} " method="post" {{form_enctype(form)}} id="ajoutProfil">

                <div class="FrmAbonne"> 
                    <span class="requis">{{ form_errors(form.libFonds) }}
                    {{ form_label(form.libFonds, 'fond.libelle'|trans({},'fond')) }}
                    <span class="red-text">*</span></span>
                    {{ form_widget(form.libFonds) }}
                    <div class="clr"></div>
                 </div>
                <div class="FrmAbonne ">
                    <span class="requis">
                        {{ form_errors(form.codeFonds) }}
                        {{ form_label(form.codeFonds, 'fond.code'|trans({},'fond')) }}
                        <span class="red-text">*</span>
                    </span>
                    {{ form_widget(form.codeFonds) }}
                    <div class="clr"></div>
                </div>
                <div class="FrmAbonne">
                    <span class="requis">
                        {{ form_errors(form.utilisateur) }}
                        {{ form_label(form.utilisateur, 'fond.gestionnaire'|trans({},'fond')) }}
                        <span class="red-text">*</span>
                    </span>
                    {{ form_widget(form.utilisateur) }}
                    <div class="clr"></div>
                </div>
                <div>
                    <input type="submit" value="{{'client.ajouter'|trans({},'messages') }}"  class="boutonSubmit" style="color:#fff;" />
                    <a  href="{{ path('utb_client_listefonds',{'locale':locale}) }}"><input type="button" class="annulerBut back" value="{{'client.annuler'|trans({},'messages') }}" name="" id="" > </a>
                    
                    <div class="clr"></div>
                </div>
            </form>
        </div>  
                                                                                                                                                                                                                                                                               
{% endblock %}


