{# src/utb/ClientBundle/Resources/views/layoutSite.html.twig #}
{% extends "utbClientBundle::layoutClient.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}	
			
{% block client_centre_body %}  
    <ul class="filariane bleuLink">
        <li><a href="{{ path("utb_client_accueil",{'locale':locale,'typePre':1}) }}"><img src="{{ asset('img/client-img/pointer.png')}}" alt="" />{{'client.tb.titre'|trans({},'messages') }}</a></li>
        <li><img src="{{ asset('img/client-img/icon-rightdirect.png')}}" alt="" /></li>
        <li>{{'controleur.modif'|trans({},'autres')}}</li>
    </ul>

    <h2 class="miniTitle title2 title-WithTopBar hover-title-WithTopBar">{{'controleur.modif'|trans({},'autres')}}</h2>

    <form action="{{ path( "utb_client_modifcontroleur", {'id': id,'locale':locale} ) }} " method="post" {{ form_enctype(form) }} >

        <div class="FrmModif">
                {{ form_widget(form) }}
                <div class="clr"></div>
        </div>

        <div>
            <input type="submit" value="Valider" name="op" id="j_bouton" class="boutonSubmit">
            <a  href="{{ path('utb_client_listecontroleur',{'locale':locale}) }}"><input type="button" class="annulerBut back" value="{{'client.annuler'|trans({},'messages') }}" name="" id="" ></a>
            <div class="clr"></div>
        </div>
        
    </form>                                             

                     
{% endblock %}
		