{% extends "utbClientBundle::layoutClient.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}	
				
{% block client_centre_body %}  

	<ul class="filariane bleuLink">
		<li><a href="{{ path("utb_client_accueil",{'locale':locale,'typePre':1}) }}"><img src="{{ asset('img/client-img/pointer.png')}}" alt="" />{{'client.tb.titre'|trans({},'messages') }}</a></li>
		<li><img src="{{ asset('img/client-img/icon-rightdirect.png')}}" alt="" /></li>
		<li>{{ 'messagerie.titre'|trans({}, 'messagerie')}}</li>
	</ul>


	<h2 class="miniTitle title2 title-WithTopBar hover-title-WithTopBar">{{ 'messagerie.interne'|trans({}, 'messagerie')}}</h2>
	{# { 'messagerie.interne'|trans({}, 'messagerie')} #}
	
	<div class="menu_messag">
		<div class="onglets title3">
			<span class="onglet_0 onglet read" id="onglet_read" onclick="javascript:change_onglet('read');"><a href="{{ path("utb_client_boitereceptionabonne",{'locale':locale}) }}">{{ 'messagerie.reception'|trans({}, 'messagerie')}}</a></span>
			<span class="onglet_0 onglet sent" id="onglet_sent" onclick="javascript:change_onglet('sent');"><a href="{{ path("utb_client_envoimessageabonne",{'locale':locale}) }}">{{ 'messagerie.envoye'|trans({}, 'messagerie')}}</a></span>
			<span class="onglet_0 onglet write" id="onglet_write" onclick="javascript:change_onglet('write');"><a href="{{ path("utb_client_ecriremesssageabonne",{'locale':locale}) }}">{{ 'messagerie.ecrire2'|trans({}, 'messagerie')}} </a></span>
		</div>
	</div>
		
		
	{% for contenu in app.session.flashbag.get('notice') %}
		{% if contenu == "messagesuccess" %}
			<div class="success leftSpace rightSpace center">                        
			{{ 'client.messagesuccess'|trans({}, 'messages') }}
			</div>    
		{% endif %}
		{% if contenu == "messageerror" %}
			<div class="error leftSpace rightSpace center">
			{{ 'client.messageerror'|trans({}, 'messages') }}
			</div>
		{% endif %}                        
	{% endfor %} 

	
        <!-- <div class="contenu_messag"> Jusq avan les script de pieds de page-->
		
    <!-- *************************************************BOITE DE RECEPTION*********************************************-->
	<div class="contenu_onglet" id="contenu_onglet_read">
		
		<table class="messagerieTable">
			<caption>
				<span class="msgInfo">
					{{'messagerie.avez'|trans({},'messagerie') }} <strong>{{nbretout}}</strong> {{'messagerie.dont'|trans({},'messagerie') }} <strong>{{ app.request.get('nbrelu') }}</strong> {{'messagerie.nonLu'|trans({},'messagerie') }} 
				</span>
				<span class="msgIconAct">
					<a href="javascript:void(0);" onclick="deleteAll(getMessagesID()); return false;" > <img src="{{asset('img/client-img/icon-16-bin.png')}}" alt="{{'admin.corbeille'|trans}}" title="{{'admin.corbeille'|trans}}" /> </a>
				</span>
				<div class="clr"></div>
			</caption>
			   

			<thead> <!-- En-tête du tableau -->
				<tr>
					<th style="width:20px;"><input type="checkbox" class="checkall" name="checkall"/></th>
					<th style="width:20px;"> </th>
					<th style="width:150px;">{{'form.expediteur'|trans({},'messagerie') }}</th>
					<th style="width:300px;">{{'form.objet'|trans({},'messagerie') }}</th>
					<th style="width:100px;">{{'form.date'|trans({},'messagerie') }}</th>
					<th style="width:20px;">{{'client.supprimer'|trans({},'messages')}}</th>
				</tr>
			</thead>

			<tbody> <!-- Corps du tableau -->
			   {% for unmessage in listeMessage %}                                                                                             
				<tr>{# {% if loop.index is divisibleby(2)%}  class="bgGris" {% else %} class="bgBlanc"  {% endif %}#}
					 <td style="width:20px;">
						<input type="checkbox" name="message[]" value="{{unmessage.idEnvoi}}" rel="message_c"/>
					 </td>
					 
					 <td style="width:20px;">
						 {% if unmessage.msgLu == 0 %}
							<img src="{{ asset('img/client-img/mail_get.png')}}"  alt="" />
						 {% elseif unmessage.msgLu == 1 %}
							<img src="{{ asset('img/client-img/mailappt.png')}}" alt="" /> 
						 {% endif %} 
					 </td>
					 
					 <td style="width:150px;">  
						{{unmessage.nomPrenom}}
					 </td>                                
					 
					 <td style="width:300px;">
						  {% if unmessage.msgLu == 0 %}
								<strong><a href="{{ path("utb_client_detailmsgabonne",{'idenvoi':unmessage.idEnvoi}) }}">{{unmessage.objetMessageClient}}</a> </strong>
						 {% elseif unmessage.msgLu == 1 %}
							<a href="{{ path("utb_client_detailmsgabonne",{'idenvoi':unmessage.idEnvoi,'locale':locale}) }}">{{unmessage.objetMessageClient}}</a>                                                                           
						 {% endif %}                                                         
					 </td>
					 
					 <td style="width:100px">  
						{{unmessage.dateEnvoiMsg|date("d/m/Y")}}
					 </td>
					  <td style="width:20px; text-align:right; padding-right:15px;"><a href=""><img src="{{asset('img/client-img/icon-16-bin.png')}}" alt="{{'admin.corbeille'|trans}}" title="{{'admin.corbeille'|trans}}" /></a></td>
				</tr>
			   {% else %}                                                    
				<tr>
					<td colspan="6" class="center">{{ 'messagerie.none'|trans({}, 'messagerie') }} </td>       
				</tr>       
			  {% endfor %}

			</tbody>
		</table>
		 

		<div class="page center">
			{% if last_page_br > 1 %}
			<div class="paginationTry">

				  <a href="{{ path('utb_client_envoimessagerieabonne', { 'page': 1,'locale':locale }) }}"> <span> << </span> </a> 
				  <a href="{{ path('utb_client_envoimessagerieabonne', { 'page': previous_page_br,'locale':locale }) }}"> <span> {{ 'admin.precedent'|trans}} </span> </a>
				  {% for page in 1..last_page %}
						{% if page == current_page %}
						<span>{{ page }}</span>
						{% else %}
						<span><a href="{{ path('utb_client_envoimessagerieabonne', { 'page': page }) }}">{{ page }}</a></span>
						{% endif %}
				  {% endfor %}
				  <a href="{{ path('utb_client_envoimessagerieabonne', { 'page': next_page_br,'locale':locale }) }}"> <span> {{ 'admin.suivant'|trans}} </span> </a>
				  <a href="{{ path('utb_client_envoimessagerieabonne', { 'page': last_page_br,'locale':locale }) }}"> <span> >> </span></a>

			  </div>
			 {% endif %}
			  <br/>    
			<div class="pagination_desc">
			   <center>
				   <strong>{{ total_br }}</strong> {{ 'messagerie.reçu'|trans({}, 'messagerie') }}
				   {% if last_page_br > 1 %} - page <strong>{{ current_page }}/{{ last_page_br }}</strong> {% endif %}
			   </center>
			</div>
			
		</div>
	</div>
    <!-- *************************************************FIN BOITE DE RECEPTION*********************************************-->
               



			 
              <script type="text/javascript">
                //<!--
                function change_onglet(name)
                {
                document.getElementById('onglet_'+anc_onglet).className = 'onglet_0 onglet';
                document.getElementById('onglet_'+name).className = 'onglet_1 onglet';
                document.getElementById('contenu_onglet_'+anc_onglet).style.display = 'none';
                document.getElementById('contenu_onglet_'+name).style.display = 'block';
                anc_onglet = name;
                }
                //-->
                
                            //<!--
            var anc_onglet = 'read';
            change_onglet(anc_onglet);
            //-->
                </script> 
                
 <script language="javascript" >
     
        $(".checkall").click(function(){
            $(this).closest("table").find("input[type=checkbox]").prop("checked", this.checked);
       });     
       
       function getMessagesID(){
           
            var messages_id = "";
            
            $(":input[rel=message_c]:checked").each(function(){
		messages_id = messages_id.concat( "|" + $(this).val() );
                //actions_id = "1|2|3";
            });   
            
            return messages_id;
       }
       
       var html = "<div style='text-align:center;'><img src='{{ asset('img/wait.gif') }}' /></div>"; 
       var htmldefault3 = "Voulez vous  Supprimer ce(s) message(s) ?"; 
 
    
         function deleteAll( messageriesId){
         //To do
         if( messageriesId.length == 0 ){              
              $('#process_tpl').html("Vous devrez cochez au moins un élément");
          var args = {modal: true, autoOpen: false, title: ('Supprimer des messages')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: { 			                  
			"OK": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
              return false;
          }           
          
          $('#process_tpl').html(htmldefault3);
          var args = {modal: true, autoOpen: false, title: ('Supprimer des messages')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: {
 			"OK": function() {                    
                            $('#process_tpl').html(html);

                            $.ajax({
                                type: "POST",
                                url: "{{ path('utb_client_boitesupprimermsg')}}",
                                data: {msgsIds:messageriesId},
                                cache: false,
                                success: function(data){
                                    var answer = jQuery.parseJSON(data);
                                    if( answer.result=="erreurstatut"){
                                        $('#process_tpl').html("Suppression impossible vous n'avez pas ce droit");
                                    }
                                    else{
                                        $('#process_tpl').html("Suppression réussie");
                                    }
                                    window.location.reload();
                                }
                            });
                            
			},                   
			"Cancel": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
       } 
       
         function deleteEnvoyeAll( messageriesId){
         //To do
         if( messageriesId.length == 0 ){              
              $('#process_tpl').html("Vous devrez cochez au moins un élément");
          var args = {modal: true, autoOpen: false, title: ('Supprimer des messages')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: { 			                  
			"OK": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
              return false;
          }           
          
          $('#process_tpl').html(htmldefault3);
          var args = {modal: true, autoOpen: false, title: ('Supprimer des messages')};
          $('#process_tpl').dialog(args);
           $('#process_tpl').dialog({
		buttons: {
 			"OK": function() {                    
                            $('#process_tpl').html(html);

                            $.ajax({
                                type: "POST",
                                url: "{{ path('utb_client_boitesupprimermsgenvoye')}}",
                                data: {msgsIds:messageriesId},
                                cache: false,
                                success: function(data){
                                    var answer = jQuery.parseJSON(data);
                                    if( answer.result=="erreurstatut"){
                                        $('#process_tpl').html("Suppression impossible vous n'avez pas ce droit");
                                    }
                                    else{
                                        $('#process_tpl').html("Suppression réussie");
                                    }
                                    window.location.reload();
                                }
                            });
                            
			},                   
			"Cancel": function() {
                            $(this).dialog("close");
			}
		}
            })    
            $("#process_tpl").dialog('open'); 
       }       
       
   
</script>                                                
 <div id="process_tpl" style="display:none;"></div> 
 
{% endblock %}
		
