
{% extends "utbClientBundle::layoutClient.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}	
				
{% block client_centre_body %}
    <ul class="filariane bleuLink">
		<li><a href="{{ path("utb_client_accueil",{'locale':locale,'typePre':1}) }}"><img src="{{asset('img/client-img/pointer.png')}}" alt="" /> {{'client.tb.titre'|trans({},'messages') }}</a></li>
		<li><img src="{{asset('img/client-img/icon-rightdirect.png')}}" alt="" /></li>
		<li>{{ 'messagerie.titre'|trans({}, 'messagerie')}}</li>
		<li><img src="{{asset('img/client-img/icon-rightdirect.png')}}" alt="" /></li>
		<li>{{ 'messagerie.transferer2'|trans({}, 'messagerie')}}</li>
    </ul>
    
	
	<h2 class="miniTitle title2 title-WithTopBar hover-title-WithTopBar">{{'messagerie.interne'|trans({},'messagerie') }}</h2>
    {#	  #}
	
	
        <div class="menu_messag">
            <div class="onglets title3" style="margin-bottom:7px;">
				<span class="onglet_0 onglet read" id="onglet_read" onclick="javascript:change_onglet('read');"><a href="{{ path("utb_client_boitereceptionutil",{'locale':locale}) }}">{{ 'messagerie.reception'|trans({}, 'messagerie')}}</a></span>
				<span class="onglet_0 onglet sent" id="onglet_sent" onclick="javascript:change_onglet('sent');"><a href="{{ path("utb_client_messageenvoyeutil",{'locale':locale}) }}">{{ 'messagerie.envoye'|trans({}, 'messagerie')}}</a></span>
				<span class="onglet_0 onglet writeabonne" id="onglet_writeabonne" onclick="javascript:change_onglet('writeabonne');"><a href="{{ path("utb_client_envoimessageutilabonne",{'locale':locale}) }}">{{ 'messagerie.ecrire'|trans({}, 'messagerie')}}</a></span>
				<span class="onglet_0 onglet writeutil" id="onglet_writeutil" onclick="javascript:change_onglet('writeutil');"><a href="{{ path("utb_client_envoimessageutil",{'locale':locale}) }}">{{ 'messagerie.ecrireUtil'|trans({}, 'messagerie')}}</a></span>
            </div>
        </div>  
		
		
        <div  id="contenu_onglet_write">
				{#<h5><span class='red-text'>*</span> {{ 'client.obligatoire'|trans({}, 'messages')}}</h5>#}
                
				<div class="FrmAbonne" style="margin:0px; padding-top:0px;">
					<label class="labelNoFloat" style="margin:0px;">{{ 'messagerie.dest'|trans({}, 'messagerie')}}
						<span class="red-text">*</span>
					</label>
				</div>
					
		<div class="scroll bgGrisatr1 border-gris1 coinsArrondis-min"> 
                    <div class=""></div>
                    <table> 
                       <thead style="border-bottom: 1px solid #ddd;">
                            <tr>
                             <th class="" style="width:10px; padding-top: 15px;background: none;"><input type="checkbox" class="checkall" name="checkall" /></th>
                              <th  colspan="2" class="" style="background: none;"><label for="rechercheabonne" class="marginRight10p">Veuillez entrer le nom du destinataire(s)</label><input type="text" id="rechercheabonne" name="checkall" class="grandinput" /></th>
                              <th style="background: none;"><img src="{{asset('img/client-img/loading.gif')}}"  style="display:none;" class="imgload"/></th>
                              
                            </tr>
                            
                       </thead>
                       <tbody class="lunabonne">
                                {#{% for unAbonne in listeAbonne %}
                                           <td class="" ><input type="checkbox" name="abonne[]" value="{{ unAbonne.id }}" rel="abonne_c"> {{ unAbonne.nomPrenom}}</td> 
                                {% if loop.index % 4==0 %}   </tr>{% if loop.last %} {% else %}  <tr >{% endif%}    {% endif%} 
                                {% endfor %} #} 
                                {% for unAbonne in listeAbonne %}
                                        <tr >
                                           <td style="width:10px;"><input class="{{'idabonne'~unAbonne.id }}" type="checkbox"  value="{{ unAbonne.id }}"   onClick="validate('{{ unAbonne.id }}','{{ unAbonne.nomPrenom}}','{{ unAbonne.email}}','{{ unAbonne.telAbonne}}'); return false;"></td><td>{{ unAbonne.nomPrenom}}</td><td>{{ unAbonne.email}}</td>  <td>{{ unAbonne.telAbonne}}</td>                   
                                        </tr>
                                {% endfor %} 
                        </tbody>   
                       
                     </table>

                </div> 
                 Envoyer à                
                <div class="scroll bgGrisatr1 border-gris1 coinsArrondis-min"> 
                    <div class=""></div>
                    <table>

                      <tbody class="lvraiabonne">
                              <img src="{{asset('img/wait.gif')}}"  style="display:none;margin:auto;padding:20px;" class="imgload1"/>
                               {#{% for unAbonne in listeAbonne %}
                                          <td class="" ><input type="checkbox" name="abonne[]" value="{{ unAbonne.id }}" rel="abonne_c"> {{ unAbonne.nomPrenom}}</td> 
                               {% if loop.index % 4==0 %}   </tr>{% if loop.last %} {% else %}  <tr >{% endif%}    {% endif%} 
                               {% endfor %} #} 
                       </tbody> 
                   </table> 

                </div> 
               
            <form action=" {{ path("utb_client_transferermessageutilabonne",{'idmessage':idmessage}) }} " method="post" {{form_enctype(form)}} id="ajoutProfil">			
		<input type="hidden" name="lesabonnes" id="lesabonnes"/> 
                <div class="FrmAbonne addperso2"> 
                    {{ form_errors(form.objetMessageClient) }}
					<span class="requis">
						{{ form_label(form.objetMessageClient, 'form.objet'|trans({}, 'messagerie')) }}
						<span class="red-text">*</span>
					</span>
                    {{ form_widget(form.objetMessageClient) }}
                    <div class="clr"></div>
                </div>
				
		<div class="bleuBanniere addperso3" >
                    {{ form_errors(form.contenuMessageClient) }}
                        <span class="labelNoFloat">{{ form_label(form.contenuMessageClient, 'form.contenu'|trans({}, 'messagerie')) }}<span class="red-text">*</span></span>
                    {{ form_widget(form.contenuMessageClient) }}
                </div>
				
                <div>
                        <input type="reset" value="{{'client.annuler'|trans({},'messages') }}" class="annulerBut" />
                        <input type="submit" value="{{'client.envoyer'|trans({},'messages') }}" class="boutonSubmit" id="soumisform"/>
                        <div class="clr"></div>
                </div>
            </form>
        </div>  
		
		
<script type="text/javascript">
        //<!--
        function change_onglet(name)
        {
            document.getElementById('onglet_'+anc_onglet).className = 'onglet_0 onglet';
            document.getElementById('onglet_'+name).className = 'onglet_1 onglet';
            document.getElementById('contenu_onglet_'+anc_onglet).style.display = 'none';
            document.getElementById('contenu_onglet_'+name).style.display = 'block';
            anc_onglet = name;
        }
        //-->
        tabIdAbonne = new Array; 
    function validate(id,nomPrenom,email,telAbonne) {                       
             
             var test=0;
             var l = tabIdAbonne.length;
             for(var i = 0; i < l; i++) {
                   if(tabIdAbonne[i] == id) {
                      test=1;
                   }
             }
             tabIdAbonne.push(id);
             
             if(test==1){
                     test=0;         
             }else{
                    $('.lvraiabonne').append('<tr><td style="width:10px;"><input type="checkbox" name="abonne[]" value="'+ id +'" rel="abonne_c" checked></td><td>'+nomPrenom+'</td><td>'+ email+'</td>  <td>'+telAbonne+'</td></tr>');                   
             }
    }
    
  
                    //<!--
    var anc_onglet = 'writeabonne';
    change_onglet(anc_onglet);
        function abonneSelect(id,nomPrenom,email,telAbonne){
            
             $('.lvraiabonne').append('<tr><td style="width:10px;"><input type="checkbox" name="abonne[]" value="'+ id +'" rel="abonne_c" ></td><td>'+nomPrenom+'</td><td>'+ email+'</td>  <td>'+telAbonne+'</td></tr>');                                    
        }
</script>         
<script language="javascript" >  
    
        $("#rechercheabonne").on("input",function(e) {            
        $(".imgload").css("display","block");              
        var vendor = this.value;
        var DATA = 'key=' + vendor;           
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url:  "{{ path('utb_client_remplirunabonne')}}",
                    data: DATA,
                    success: function(msg)
                    {                   
                         i=0;                                        
                        $.each(msg, function(index, unabonne)
                        {
                               $('.lunabonne').html('');
                                for(var i =0;i < unabonne.length;i++){                                                          
                                        $('.lunabonne').append('<tr><td style="width:10px;"><input type="checkbox" class="idabonne"'+unabonne[i].id+'" name="abonne[]" value="'+ unabonne[i].id +'" onClick="validate('+ unabonne[i].id +',\''+ unabonne[i].nomPrenom  +'\',\''+ unabonne[i].email +'\',\''+ unabonne[i].telAbonne +'\'); return false;" rel="abonne_c" ></td><td>'+unabonne[i].nomPrenom+'</td><td>'+ unabonne[i].email+'</td>  <td>'+unabonne[i].telAbonne+'</td></tr>');
                                }                                                
                        });
                        $(".imgload").css("display","none");
                    }
                });
        }); 

 
   jQuery(document).ready(function() {
         $(".checkall").click(function(){
            $(this).closest("table").find("input[type=checkbox]").prop("checked", this.checked);
             if($(".checkall").is(":checked")){  
                $(".imgload1").css("display","block");
                var vendor = this.value;
                var DATA = 'key=';           
                        $.ajax({
                            type: "POST",
                            dataType: 'json',
                            url:  "{{ path('utb_client_remplirunabonne')}}",
                            data: DATA,
                            success: function(msg)
                            {                   
                                 i=0;                                        
                                $.each(msg, function(index, unabonne)
                                {
                                       $('.lvraiabonne').html('');
                                        for(var i =0;i < unabonne.length;i++){                                                          
                                                $('.lvraiabonne').append('<tr><td style="width:10px;"><input type="checkbox" checked name="abonne[]" value="'+ unabonne[i].id +'" onClick="validate('+ unabonne[i].id +',\''+ unabonne[i].nomPrenom  +'\',\''+ unabonne[i].email +'\',\''+ unabonne[i].telAbonne +'\'); return false;" rel="abonne_c" ></td><td>'+unabonne[i].nomPrenom+'</td><td>'+ unabonne[i].email+'</td>  <td>'+unabonne[i].telAbonne+'</td></tr>');
                                        }                                                
                                });
                                $(".imgload1").css("display","none");
                            }
                        });
             }else{
                 
                 $('.lvraiabonne').html('');
                  tabIdAbonne = new Array;
             }
                
       }); 
    
         function getUtilsID(){           
            var abonnes_id = "";
            
            $(":input[rel=abonne_c]:checked").each(function(){
		abonnes_id = abonnes_id.concat( "|" + $(this).val() );
                //actions_id = "1|2|3";
            });              
            return abonnes_id;
       }         
       function soumettreAll( abonnesId ){ 
            if( abonnesId.length === 0 ){              
               alert("{{'messagerie.choisirAbonne'|trans({},'messagerie') }}") ;
               return false;
           }else{
               return true; 
           }
        }      
        $('#soumisform').click(function(){ 
            var liste=getUtilsID();

             $('#lesabonnes').val(getUtilsID());
              //alert($('#lesabonnes').val());   
             if(!soumettreAll(getUtilsID())){
                 return false;
             }else{
               return true;                      
             }                                                                 
         });   
   });
                                                                                         
</script>                          
{% endblock %}