
{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - Espace Administration
{% endblock %}

  {% block administration_body %} 
  
   				<!-- FIN MENU RAPIDE BAR HORIZONTALE GRISE -->

            <div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->
                <a href="{{path('utb_admin_accueil',{ 'locale': locale })}}"> {{ 'admin.accueil'|trans}}</a> > <a href="{{path('utb_admin_listerubrique',{'locale': locale})}}">{{ 'admin.layout.menu.rubriques'|trans({}, 'messages') }}</a> > {{ 'admin.ajouter'|trans}}
            </div>

                                
                {% for contenu in app.session.flashbag.get('notice') %}             
                    {% if contenu == "errortypficart" %}
                            <div class="span-25">
                                 <div class="notices noticesMsg">
                                {{ 'notification.errortype'|trans({}, 'articles') }}
                                 </div>
                            </div>
                    {% elseif contenu == "errorajtrubexist" %}
            
                            <div class="span-25">
                                <div class="error errorMsg">
                                    {{  'notification.ajoutexistrubbad'|trans({}, 'articles') }}                    
                                </div>
                            </div>
                    {% elseif contenu == "errornombrecaratere" %}
            
                            <div class="span-25">
                                <div class="error errorMsg">
                                    {{  'notification.errornombrecaratere'|trans({}, 'articles') }}                    
                                </div>
                            </div>
                 {% endif %}
                   
               {% endfor %}                                
                                
  <div class="span-25">			<!-- Contien les menus -->
      <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
          <div class="span-19">
              <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-48-newcategory.png')}}" alt="{{ 'rubriques.rubrique'|trans({}, 'rubriques')}}" title="{{ 'rubriques.titrepg'|trans({}, 'rubriques')}}" /></div>
              <div class="titreModule colorBleu"><h1>{{ 'rubriques.ajout.titre1'|trans({}, 'rubriques')}} <span>: {{ 'rubriques.creation'|trans({}, 'rubriques')}}</span><h1></div>	
                          <div class="clr"></div>
                          </div>

                          <div class="span-5 last">

                              <div class="ecartBoutonsFirst">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="{{ 'admin.btnvalider'|trans}}" title="{{ 'admin.btnvalider'|trans}}" /></div>
                                  {{ 'admin.btnvalider'|trans}}</a>
                              </div>

                              <div class="ecartBoutons">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="#" class="back"  ><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="{{ 'admin.annuler'|trans}}" title="{{ 'admin.annuler'|trans}}" /></div>
                                  {{ 'admin.annuler'|trans}}</a>
                              </div>
                              <div class="clr"></div>
                          </div>					<!--  FIN allBoutonsGestion -->
                          <div class="clr"></div>
                          </div>						<!--  FIN toulbar 3 -->
                          </div> <!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->
                          
                          <div class="span-25">						<!-- COLONNE GAUCHE + COLONNE DROITE-->
                              <div class="MarginBottomBox"></div>

                              <div class="span-6">						<!-- COLONNE GAUCHE-->
                                  <div class="colLeft">					<!-- COLONNE GAUCHE-->

                                      {# STATISTIQUES #}  
                                      {{ information.stats(listestat) }}

                                  </div>			<!-- Fin COLONNE COLLEFT-->
                              </div>				<!-- Fin COLONNE GAUCHE span 6-->


						  <div class="span-19 last">						<!-- COLONNE DROITE-->
							  <div class="colRight">						<!-- COLONNE DROITE-->

								  <div class="MarginBottomBox colorCadreArrondi coinsArrondis bgGris">
									  <div class="colRightContentPadding">
                                                                          {% if locale == "en"%}
                                                                             {% set unlocale = "fr"%}
                                                                          {% elseif locale == "fr"%}
                                                                             {% set unlocale = "en"%}
                                                                          {% endif %}
                                                                                  
                                           {# <h2 class="titleArticle colorBleu"><a href="{{ path("utb_admin_detailrubrique",{'locale': unlocale,'id':id}) }}">{{languerubrique.getNomRubrique}} </a></h2><hr />#}
                                            
                                        <form action=" {{ path("utb_admin_languerubrique",{'locale': locale,'id':id}) }} " method="post" {{ form_enctype(form) }} id="ajout">
											<div class="FrmAjoutArt">
											{{ form_errors(form.nomRubrique) }}
											{{ form_label(form.nomRubrique, 'rubriques.ajout.librub'|trans({}, 'rubriques')  ) }}
											{{ form_widget(form.nomRubrique) }}
											<div class="clr"></div>
											<span class="gris-comment"><em>{{ 'rubriques.ajout.nbcaract'|trans({},'rubriques')}}</em></span>
											</div>
											
											{#<div class="FrmAjoutArt">
											{{ form_errors(form.idparent) }}
											{{ form_label(form.idparent, "id parent") }}
											{{ form_widget(form.idparent) }}
											<div class="clr"></div>
											</div>#}
											
											<div class="FrmAjoutArt">
											{{ form_errors(form.descriptionRubrique) }}
											<span class="labelNoFloat labelLong">
											{{ form_label(form.descriptionRubrique, 'rubriques.ajout.descrub'|trans({}, 'rubriques')) }}</span> 
											{{ form_widget(form.descriptionRubrique) }}
											</div>
											
                                            <input type="submit" value="{{ 'admin.ajouter'|trans({}, 'messages')}}" name="op" id="j_bouton" style="display: none"><a href=""></a>
                                         </form>
                                    
									  </div>			<!-- FIN colRightContentPadding-->
								  </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->
									  
									  <div class="bottomButAction coinsArrondisMin colorCadreArrondi bgGris">
									<div class="ecartBoutonsForBottom">&nbsp;</div>
									<div class="boutonGestion">
                                  <div><a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="{{ 'admin.btnvalider'|trans}}" title="{{ 'admin.btnvalider'|trans}}" /></div>
                                  {{ 'admin.btnvalider'|trans}}</a>
                              </div>

                              <div class="ecartBoutons">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="#" class="back"  ><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="{{ 'admin.annuler'|trans}}" title="{{ 'admin.annuler'|trans}}" /></div>
                                  {{ 'admin.annuler'|trans}}</a>
                              </div>
                              <div class="clr"></div>
								  	  </div>      <!-- div.bottomButAction-->
									  
							  </div>		<!--  FIN COL RIGHT -->
						  </div>			<!--  FIN  SPAN - 19 -->

					  </div>				<!--  FIN SPAN - 25 -->

  {{ information.popupaddarticle(listeRubrique) }}    
                                          
  {% endblock %}
