<form method="POST" id="form_recherche" action="">
    <input type="text" name="motcle" id="motcle" placeholder="{{ 'admin.layout.rechercher'|trans}}" />
    <a href="javascript:void(0);" onclick="rechercher(); return false;"> <img src="{{ asset('img/admin-img/loupe.png') }}" alt="Go" title="{{ 'admin.layout.rechercher'|trans}}" /> </a>
    <input type="submit" value="Ok" name="ok" id="btn_rechercher" style="display: none">
    <div class="clr"></div>

</form>

<script language="javascript" >

    function rechercher(){
        /*document.getElementById('rechercher').submit();*/
        javascript:document.getElementById('btn_rechercher').click()
    }

    
    $("#form_recherche").submit(function(){
    
       var motcle = $("#motcle").val();
       
       if(motcle == "") {
        alert("{{ 'recherches.champvide2'|trans}}");
       }
       else{
            document.location.href = "{{ path('utb_admin_resultat',{'motcle': '%s','locale': locale}) | url_decode | format('"+motcle+"') | raw }}";
       }   

       return false;
    });
</script>