

{% extends "utbAdminBundle::layoutAdmin.html.twig" %}
{% block title %}
  {{ parent() }} - Espace Administration
{% endblock %}

  {% block administration_body %} 
  
  				<!-- FIN MENU RAPIDE BAR HORIZONTALE GRISE -->

            <div class="span-25 colorBleu" id="filAriane">	<!-- Fil d'ariane conducteur Tableau de bord > Gestion article > Modifier -->

                 <a href="{{path('utb_admin_accueil',{'locale': locale})}}"> 
                     {{ 'admin.accueil'|trans}}
                 </a> > 
                 <a href="{{path('utb_admin_listerubrique',{'locale': locale})}}">
                     {{ 'rubriques.ajout.titre1'|trans({}, 'rubriques') }}
                 </a> >
                {% for rubrique in larubrique%}
                         <a href="{{path('utb_admin_detailrubrique',{'locale': locale,'id':rubrique.id})}}">
                            {{rubrique.nomRubrique}}
                         </a>
                >                 
                         <a href="{{path('utb_admin_detailarticle',{'locale': locale,'type':rubrique.id,'id':id})}}">
                            {{unarticle.titreArticle}} 
                         </a>         
                >
                {% endfor %} 
                {% if typemedia == 2 %}
                     {{ 'articles.liste.titrepg.modifdoc'|trans({}, 'articles') }}
               {% endif %}
                
               {% if typemedia == 1 %}
                     {{ 'articles.liste.titrepg.modifimg'|trans({}, 'articles') }}                
                {% endif %}
                

            </div>

                {% for contenu in app.session.flashbag.get('notice') %}                        

     
                    {% if contenu == "errortypficart" %}
                                
                                {% if contenu == "errortypficart" %}
                                    <div class="span-25">
                                         <div class="notices noticesMsg">
                                        {{ 'notification.errortype'|trans({}, 'articles') }}
                                         </div>
                                    </div>
                                {% endif  %}
                    {#% elseif contenu == "successmodart" %}
                                    <div class="span-25">
                                         <div class="success successMsg">
                        {{ 'notification.modifbn'|trans({}, 'articles') }}
                                         </div>
                                    </div>
                    {% elseif contenu == "errormodart" %}
                                    <div class="span-25">
                                         <div class="error errorMsg">
                        {{ 'notification.modifbad'|trans({}, 'articles') }}
                                         </div>
                                    </div>
                        
                    {% elseif contenu == "successmodifmediaart" %}
                                    <div class="span-25">
                                         <div class="success successMsg">
                        {{ 'notification.modifmediabn'|trans({}, 'articles') }}
                                         </div>
                                    </div> 
                        
                    {% elseif contenu == "successajoutmediaart" %}
                                    <div class="span-25">
                                         <div class="success successMsg">
                        {{ 'notification.ajoutmediabn'|trans({}, 'articles') }}
                                         </div>
                                    </div> #}
                    {% endif %}  
                        
                 {% endfor %}                                 
                                
                                
  <div class="span-25">			<!-- Contien les menus -->
      <div id="toolbar3" class="coinsArrondisMin colorCadreArrondi bgGris">	<!-- Barre de titre + bton Actions-->
          <div class="span-19">
              <div class="logoModulePage"><img src="{{ asset('img/admin-img/icon-48-article.png')}}" alt="{{ 'admin.profil'|trans({}, 'messages') }}" title="" /></div>
              <div class="titreModule colorBleu">
                  <h1>
                        {{ 'admin.gimage'|trans}} :
                      
                      {% if typemedia == 2 %}
                        <span>{{ 'articles.liste.titrepg.ajoutdoc'|trans({}, 'articles') }}</span>
                      {% endif %}

                      {% if typemedia == 1 %}
                        <span>{{ 'articles.liste.titrepg.ajoutimg'|trans({}, 'articles') }} </span>               
                      {% endif %}  
                  </h1> 
             </div>	
                          <div class="clr"></div>
                          </div>

                          <div class="span-5 last">

                              <div class="ecartBoutonsFirst">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="javascript:document.getElementById('j_bouton').click()"><img src="{{ asset('img/admin-img/icon-48-apply.png')}}" alt="{{ 'admin.btnvalider'|trans({}, 'messages') }}" title="{{ 'admin.btnvalider'|trans({}, 'messages') }}" /></div>
                                  {{ 'admin.btnvalider'|trans}}</a>
                              </div>

                              <div class="ecartBoutons">&nbsp;</div>

                              <div class="boutonGestion">
                                  <div><a href="#" class="back"  ><img src="{{ asset('img/admin-img/icon-48-cancel.png')}}" alt="{{ 'admin.annuler'|trans}}" title="{{ 'admin.annuler'|trans}}" /></div>
                                 {{ 'admin.annuler'|trans}}</a>
                              </div>
                              <div class="clr"></div>
                          </div>					<!--  FIN allBoutonsGestion -->
                          <div class="clr"></div>
                          </div>						<!--  FIN toulbar 3 -->
                          </div> <!--  FIN SPAN - 25 Boutons de Gestion et Titre PAGE-->
                          
                          <div class="span-25">						<!-- COLONNE GAUCHE + COLONNE DROITE-->
                              <div class="MarginBottomBox"></div>

                              <div class="span-6">						<!-- COLONNE GAUCHE-->
                                  <div class="colLeft">					<!-- COLONNE GAUCHE-->

                                      <div class="MarginBottomBox coinsArrondis colorCadreArrondi bgGris" style="padding:1px;"><!-- un cadre dans la colonne gauche-->
                                          <h3 class="colorBleu titreStats">{{ 'admin.stat'|trans({},'messages')}}</h3>
                                          <div class="coinsArrondis backgrdIntCadreLeft bgBlanc">
                                              <table class="tableStats">
								 {#% for stat in listestat %}                                                                    
                                                                    <tr {% if loop.index is divisibleby(2)%}  class="bgGris" {% else %} class="bgBlanc"  {% endif %}>
                                                                            <td>{{stat.libelle|raw}}</td>
                                                                            {% if stat.num in [13,12,14] %}                                                                            
                                                                                 <td class="valStats">
                                                                                    {% if stat.valeur is not null %}  
                                                                                       {{stat.valeur|date("d/m/Y")}}
                                                                                    {% else %}    
                                                                                         
                                                                                    {% endif %}     
                                                                                 </td>                                                                                
                                                                            {% else %}
                                                                              {% if stat.num == 11 %}   
                                                                                  <td class="valStats">
                                                                                      
                                                                                            {% if stat.valeur ==1  %}
                                                                                                <img src="{{ asset('img/admin-img/menus-16.png')}}"  alt="Article en Rédaction " title="Article en cours de rédaction " />
                                                                                            {% elseif stat.valeur ==2 %}
                                                                                                <img src="{{ asset('img/admin-img/soumettreSmall.png')}}"  alt="Article Soumis" title="Article soumis pour validation" />
                                                                                            {% elseif stat.valeur ==3 %}
                                                                                                <img src="{{ asset('img/admin-img/validerSmall.png')}}"  alt="Article Validé" title="Article en attente de publication" />
                                                                                            {% elseif stat.valeur ==4  %}
                                                                                                <img src="{{ asset('img/admin-img/publierSmall.png')}}"  alt="Article Publié" title="Article en ligne" />
                                                                                            {% elseif stat.valeur ==5 %}
                                                                                                <img src="{{ asset('img/admin-img/depublierSmall.png')}}"  alt="Article Dépublié" title="Article dépublié" />
                                                                                            {% endif %}  
                                                                                                
                                                                                  </td>      
                                                                              {% else %}
                                                                                  <td class="valStats">{{stat.valeur}}</td>
                                                                              {% endif %}                                                                                 
                                                                            {% endif %}
                                                                    </tr>
                                                                {% endfor %#}
                                              </table>
                                          </div>
                                      </div>



                                  </div>			<!-- Fin COLONNE COLLEFT-->
                              </div>				<!-- Fin COLONNE GAUCHE span 6-->


                              <div class="span-19 last">						<!-- COLONNE DROITE-->
                                  <div class="colRight">						<!-- COLONNE DROITE-->

                                      <div class="MarginBottomBox colorCadreArrondi coinsArrondis bgGris">
                                          <div class="colRightContentPadding">
                                              <div class="FrmAjoutArt cadreInForm colorCadreArrondi bgBlanc">
                                                  
                                                      <form action=" {{ path("utb_admin_modifmediaarticle", {'id': id,'idmedia': idmedia,'locale':locale,'type':type,'typemedia':typemedia}) }} " method="post" {{ form_enctype(form) }} id="ajoutImage">
                                            <div class="FrmAjoutArt">           
											{{ form_errors(form.nomMedia) }}
											{{ form_label(form.nomMedia, 'admin.nom'|trans({}, 'messages')) }}
											{{ form_widget(form.nomMedia) }}
											<div class="clr"></div>
											</div>
											
                                            <div class="FrmAjoutArt"> 
											{{ form_errors(form.file) }}
											
                                                                                            {% if typemedia == 2 %}
                                                                                                 {{ form_label(form.file,  'admin.doctitre'|trans({}, 'messages')) }}
                                                                                           {% endif %}

                                                                                           {% if typemedia == 1 %}
                                                                                                 {{ form_label(form.file,  'admin.imgtitre'|trans({}, 'messages')) }}                
                                                                                            {% endif %}                                                                                            
											
                                                    
											{{ form_widget(form.file) }}
											</div>
															<div class="clr"></div>
                                                            <input type="submit" value="{{ 'admin.ajouter'|trans({}, 'messages')}}" name="op" id="j_bouton" style="display: none"><a href=""></a>
                                                       </form>
                                              </div>
                                          </div>			<!-- FIN colRightContentPadding-->
                                      </div>			<!-- FIN colorCadreArrondi coinsArrondis bgGris-->

                                  </div>		<!--  FIN COL RIGHT -->
                              </div>			<!--  FIN  SPAN - 19 -->

                          </div>				<!--  FIN SPAN - 25 -->
  
                        {{ information.popupaddarticle(listeRubrique) }}                        


  {% endblock %}
